<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biuaxia.odm.generate.mapper.CtpTemplateMapper">
    <resultMap id="BaseResultMap" type="cn.biuaxia.odm.generate.domain.CtpTemplate">
        <!--@mbg.generated-->
        <!--@Table CTP_TEMPLATE-->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="CATEGORY_ID" jdbcType="BIGINT" property="categoryId"/>
        <result column="MODULE_TYPE" jdbcType="SMALLINT" property="moduleType"/>
        <result column="SUB_MODULE_TYPE" jdbcType="BIGINT" property="subModuleType"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="SUBJECT" jdbcType="VARCHAR" property="subject"/>
        <result column="IS_SYSTEM" jdbcType="SMALLINT" property="isSystem"/>
        <result column="MEMBER_ID" jdbcType="BIGINT" property="memberId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="MODIFY_MEMBER" jdbcType="BIGINT" property="modifyMember"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="SUMMARY" jdbcType="LONGVARCHAR" property="summary"/>
        <result column="WORKFLOW_ID" jdbcType="BIGINT" property="workflowId"/>
        <result column="BODY" jdbcType="BIGINT" property="body"/>
        <result column="BODY_TYPE" jdbcType="VARCHAR" property="bodyType"/>
        <result column="STATE" jdbcType="SMALLINT" property="state"/>
        <result column="IS_DELETE" jdbcType="SMALLINT" property="isDelete"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="ORG_ACCOUNT_ID" jdbcType="BIGINT" property="orgAccountId"/>
        <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier"/>
        <result column="PROJECT_ID" jdbcType="BIGINT" property="projectId"/>
        <result column="FORM_PARENTID" jdbcType="BIGINT" property="formParentid"/>
        <result column="TEMPLETE_NUMBER" jdbcType="VARCHAR" property="templeteNumber"/>
        <result column="COL_SUBJECT" jdbcType="VARCHAR" property="colSubject"/>
        <result column="STANDARD_DURATION" jdbcType="BIGINT" property="standardDuration"/>
        <result column="SORT" jdbcType="SMALLINT" property="sort"/>
        <result column="CAN_SUPERVISE" jdbcType="SMALLINT" property="canSupervise"/>
        <result column="CAN_TRACK_WORKFLOW" jdbcType="SMALLINT" property="canTrackWorkflow"/>
        <result column="secret_related_level" jdbcType="SMALLINT" property="secretRelatedLevel"/>
        <result column="MARK_INFO" jdbcType="LONGVARCHAR" property="markInfo"/>
        <result column="TAOHONG_TEMPLETE" jdbcType="BIGINT" property="taohongTemplete"/>
        <result column="SECRET_LEVEL" jdbcType="SMALLINT" property="secretLevel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, CATEGORY_ID, MODULE_TYPE, SUB_MODULE_TYPE, `TYPE`, SUBJECT, IS_SYSTEM, MEMBER_ID,
        CREATE_DATE, MODIFY_MEMBER, MODIFY_DATE, SUMMARY, WORKFLOW_ID, BODY, BODY_TYPE, `STATE`,
        IS_DELETE, DESCRIPTION, ORG_ACCOUNT_ID, IDENTIFIER, PROJECT_ID, FORM_PARENTID, TEMPLETE_NUMBER,
        COL_SUBJECT, STANDARD_DURATION, SORT, CAN_SUPERVISE, CAN_TRACK_WORKFLOW, secret_related_level,
        MARK_INFO, TAOHONG_TEMPLETE, SECRET_LEVEL
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update CTP_TEMPLATE
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="CATEGORY_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="MODULE_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.moduleType,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="SUB_MODULE_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.subModuleType,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="`TYPE` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="SUBJECT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.subject,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="IS_SYSTEM = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.isSystem,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="MEMBER_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.memberId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="CREATE_DATE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="MODIFY_MEMBER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.modifyMember,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="MODIFY_DATE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.modifyDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="SUMMARY = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.summary,jdbcType=LONGVARCHAR}
                </foreach>
            </trim>
            <trim prefix="WORKFLOW_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.workflowId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="BODY = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.body,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="BODY_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.bodyType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`STATE` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.state,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="IS_DELETE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="DESCRIPTION = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="ORG_ACCOUNT_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.orgAccountId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="IDENTIFIER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.identifier,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="PROJECT_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.projectId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="FORM_PARENTID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.formParentid,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="TEMPLETE_NUMBER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.templeteNumber,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="COL_SUBJECT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.colSubject,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="STANDARD_DURATION = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.standardDuration,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="SORT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.sort,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="CAN_SUPERVISE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.canSupervise,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="CAN_TRACK_WORKFLOW = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.canTrackWorkflow,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="secret_related_level = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.secretRelatedLevel,jdbcType=SMALLINT}
                </foreach>
            </trim>
            <trim prefix="MARK_INFO = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.markInfo,jdbcType=LONGVARCHAR}
                </foreach>
            </trim>
            <trim prefix="TAOHONG_TEMPLETE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.taohongTemplete,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="SECRET_LEVEL = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=BIGINT} then #{item.secretLevel,jdbcType=SMALLINT}
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update CTP_TEMPLATE
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="CATEGORY_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.categoryId != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.categoryId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="MODULE_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.moduleType != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.moduleType,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SUB_MODULE_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.subModuleType != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.subModuleType,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`TYPE` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.type != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.type,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SUBJECT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.subject != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.subject,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="IS_SYSTEM = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.isSystem != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.isSystem,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="MEMBER_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.memberId != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.memberId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="CREATE_DATE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createDate != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="MODIFY_MEMBER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.modifyMember != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.modifyMember,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="MODIFY_DATE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.modifyDate != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.modifyDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SUMMARY = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.summary != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.summary,jdbcType=LONGVARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="WORKFLOW_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.workflowId != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.workflowId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="BODY = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.body != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.body,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="BODY_TYPE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.bodyType != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.bodyType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`STATE` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.state != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.state,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="IS_DELETE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.isDelete != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="DESCRIPTION = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.description != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ORG_ACCOUNT_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.orgAccountId != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.orgAccountId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="IDENTIFIER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.identifier != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.identifier,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="PROJECT_ID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.projectId != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.projectId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="FORM_PARENTID = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.formParentid != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.formParentid,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="TEMPLETE_NUMBER = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.templeteNumber != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.templeteNumber,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="COL_SUBJECT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.colSubject != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.colSubject,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="STANDARD_DURATION = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.standardDuration != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.standardDuration,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SORT = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.sort != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.sort,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="CAN_SUPERVISE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.canSupervise != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.canSupervise,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="CAN_TRACK_WORKFLOW = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.canTrackWorkflow != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.canTrackWorkflow,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="secret_related_level = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.secretRelatedLevel != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.secretRelatedLevel,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="MARK_INFO = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.markInfo != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.markInfo,jdbcType=LONGVARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="TAOHONG_TEMPLETE = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.taohongTemplete != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.taohongTemplete,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SECRET_LEVEL = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.secretLevel != null">
                        when ID = #{item.id,jdbcType=BIGINT} then #{item.secretLevel,jdbcType=SMALLINT}
                    </if>
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into CTP_TEMPLATE
        (ID, CATEGORY_ID, MODULE_TYPE, SUB_MODULE_TYPE, `TYPE`, SUBJECT, IS_SYSTEM, MEMBER_ID,
        CREATE_DATE, MODIFY_MEMBER, MODIFY_DATE, SUMMARY, WORKFLOW_ID, BODY, BODY_TYPE,
        `STATE`, IS_DELETE, DESCRIPTION, ORG_ACCOUNT_ID, IDENTIFIER, PROJECT_ID, FORM_PARENTID,
        TEMPLETE_NUMBER, COL_SUBJECT, STANDARD_DURATION, SORT, CAN_SUPERVISE, CAN_TRACK_WORKFLOW,
        secret_related_level, MARK_INFO, TAOHONG_TEMPLETE, SECRET_LEVEL)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.categoryId,jdbcType=BIGINT}, #{item.moduleType,jdbcType=SMALLINT},
            #{item.subModuleType,jdbcType=BIGINT}, #{item.type,jdbcType=VARCHAR}, #{item.subject,jdbcType=VARCHAR},
            #{item.isSystem,jdbcType=SMALLINT}, #{item.memberId,jdbcType=BIGINT}, #{item.createDate,jdbcType=TIMESTAMP},
            #{item.modifyMember,jdbcType=BIGINT}, #{item.modifyDate,jdbcType=TIMESTAMP},
            #{item.summary,jdbcType=LONGVARCHAR},
            #{item.workflowId,jdbcType=BIGINT}, #{item.body,jdbcType=BIGINT}, #{item.bodyType,jdbcType=VARCHAR},
            #{item.state,jdbcType=SMALLINT}, #{item.isDelete,jdbcType=SMALLINT}, #{item.description,jdbcType=VARCHAR},
            #{item.orgAccountId,jdbcType=BIGINT}, #{item.identifier,jdbcType=VARCHAR},
            #{item.projectId,jdbcType=BIGINT},
            #{item.formParentid,jdbcType=BIGINT}, #{item.templeteNumber,jdbcType=VARCHAR},
            #{item.colSubject,jdbcType=VARCHAR}, #{item.standardDuration,jdbcType=BIGINT},
            #{item.sort,jdbcType=SMALLINT}, #{item.canSupervise,jdbcType=SMALLINT},
            #{item.canTrackWorkflow,jdbcType=SMALLINT},
            #{item.secretRelatedLevel,jdbcType=SMALLINT}, #{item.markInfo,jdbcType=LONGVARCHAR},
            #{item.taohongTemplete,jdbcType=BIGINT}, #{item.secretLevel,jdbcType=SMALLINT})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="cn.biuaxia.odm.generate.domain.CtpTemplate">
        <!--@mbg.generated-->
        insert into CTP_TEMPLATE
        (ID, CATEGORY_ID, MODULE_TYPE, SUB_MODULE_TYPE, `TYPE`, SUBJECT, IS_SYSTEM, MEMBER_ID,
        CREATE_DATE, MODIFY_MEMBER, MODIFY_DATE, SUMMARY, WORKFLOW_ID, BODY, BODY_TYPE,
        `STATE`, IS_DELETE, DESCRIPTION, ORG_ACCOUNT_ID, IDENTIFIER, PROJECT_ID, FORM_PARENTID,
        TEMPLETE_NUMBER, COL_SUBJECT, STANDARD_DURATION, SORT, CAN_SUPERVISE, CAN_TRACK_WORKFLOW,
        secret_related_level, MARK_INFO, TAOHONG_TEMPLETE, SECRET_LEVEL)
        values
        (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{moduleType,jdbcType=SMALLINT},
        #{subModuleType,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR},
        #{isSystem,jdbcType=SMALLINT}, #{memberId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
        #{modifyMember,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}, #{summary,jdbcType=LONGVARCHAR},
        #{workflowId,jdbcType=BIGINT}, #{body,jdbcType=BIGINT}, #{bodyType,jdbcType=VARCHAR},
        #{state,jdbcType=SMALLINT}, #{isDelete,jdbcType=SMALLINT}, #{description,jdbcType=VARCHAR},
        #{orgAccountId,jdbcType=BIGINT}, #{identifier,jdbcType=VARCHAR}, #{projectId,jdbcType=BIGINT},
        #{formParentid,jdbcType=BIGINT}, #{templeteNumber,jdbcType=VARCHAR}, #{colSubject,jdbcType=VARCHAR},
        #{standardDuration,jdbcType=BIGINT}, #{sort,jdbcType=SMALLINT}, #{canSupervise,jdbcType=SMALLINT},
        #{canTrackWorkflow,jdbcType=SMALLINT}, #{secretRelatedLevel,jdbcType=SMALLINT},
        #{markInfo,jdbcType=LONGVARCHAR}, #{taohongTemplete,jdbcType=BIGINT}, #{secretLevel,jdbcType=SMALLINT}
        )
        on duplicate key update
        ID = #{id,jdbcType=BIGINT},
        CATEGORY_ID = #{categoryId,jdbcType=BIGINT},
        MODULE_TYPE = #{moduleType,jdbcType=SMALLINT},
        SUB_MODULE_TYPE = #{subModuleType,jdbcType=BIGINT},
        `TYPE` = #{type,jdbcType=VARCHAR},
        SUBJECT = #{subject,jdbcType=VARCHAR},
        IS_SYSTEM = #{isSystem,jdbcType=SMALLINT},
        MEMBER_ID = #{memberId,jdbcType=BIGINT},
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        MODIFY_MEMBER = #{modifyMember,jdbcType=BIGINT},
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
        SUMMARY = #{summary,jdbcType=LONGVARCHAR},
        WORKFLOW_ID = #{workflowId,jdbcType=BIGINT},
        BODY = #{body,jdbcType=BIGINT},
        BODY_TYPE = #{bodyType,jdbcType=VARCHAR},
        `STATE` = #{state,jdbcType=SMALLINT},
        IS_DELETE = #{isDelete,jdbcType=SMALLINT},
        DESCRIPTION = #{description,jdbcType=VARCHAR},
        ORG_ACCOUNT_ID = #{orgAccountId,jdbcType=BIGINT},
        IDENTIFIER = #{identifier,jdbcType=VARCHAR},
        PROJECT_ID = #{projectId,jdbcType=BIGINT},
        FORM_PARENTID = #{formParentid,jdbcType=BIGINT},
        TEMPLETE_NUMBER = #{templeteNumber,jdbcType=VARCHAR},
        COL_SUBJECT = #{colSubject,jdbcType=VARCHAR},
        STANDARD_DURATION = #{standardDuration,jdbcType=BIGINT},
        SORT = #{sort,jdbcType=SMALLINT},
        CAN_SUPERVISE = #{canSupervise,jdbcType=SMALLINT},
        CAN_TRACK_WORKFLOW = #{canTrackWorkflow,jdbcType=SMALLINT},
        secret_related_level = #{secretRelatedLevel,jdbcType=SMALLINT},
        MARK_INFO = #{markInfo,jdbcType=LONGVARCHAR},
        TAOHONG_TEMPLETE = #{taohongTemplete,jdbcType=BIGINT},
        SECRET_LEVEL = #{secretLevel,jdbcType=SMALLINT}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="cn.biuaxia.odm.generate.domain.CtpTemplate">
        <!--@mbg.generated-->
        insert into CTP_TEMPLATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="categoryId != null">
                CATEGORY_ID,
            </if>
            <if test="moduleType != null">
                MODULE_TYPE,
            </if>
            <if test="subModuleType != null">
                SUB_MODULE_TYPE,
            </if>
            <if test="type != null">
                `TYPE`,
            </if>
            <if test="subject != null">
                SUBJECT,
            </if>
            <if test="isSystem != null">
                IS_SYSTEM,
            </if>
            <if test="memberId != null">
                MEMBER_ID,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="modifyMember != null">
                MODIFY_MEMBER,
            </if>
            <if test="modifyDate != null">
                MODIFY_DATE,
            </if>
            <if test="summary != null">
                SUMMARY,
            </if>
            <if test="workflowId != null">
                WORKFLOW_ID,
            </if>
            <if test="body != null">
                BODY,
            </if>
            <if test="bodyType != null">
                BODY_TYPE,
            </if>
            <if test="state != null">
                `STATE`,
            </if>
            <if test="isDelete != null">
                IS_DELETE,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="orgAccountId != null">
                ORG_ACCOUNT_ID,
            </if>
            <if test="identifier != null">
                IDENTIFIER,
            </if>
            <if test="projectId != null">
                PROJECT_ID,
            </if>
            <if test="formParentid != null">
                FORM_PARENTID,
            </if>
            <if test="templeteNumber != null">
                TEMPLETE_NUMBER,
            </if>
            <if test="colSubject != null">
                COL_SUBJECT,
            </if>
            <if test="standardDuration != null">
                STANDARD_DURATION,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="canSupervise != null">
                CAN_SUPERVISE,
            </if>
            <if test="canTrackWorkflow != null">
                CAN_TRACK_WORKFLOW,
            </if>
            <if test="secretRelatedLevel != null">
                secret_related_level,
            </if>
            <if test="markInfo != null">
                MARK_INFO,
            </if>
            <if test="taohongTemplete != null">
                TAOHONG_TEMPLETE,
            </if>
            <if test="secretLevel != null">
                SECRET_LEVEL,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="moduleType != null">
                #{moduleType,jdbcType=SMALLINT},
            </if>
            <if test="subModuleType != null">
                #{subModuleType,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="isSystem != null">
                #{isSystem,jdbcType=SMALLINT},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyMember != null">
                #{modifyMember,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=LONGVARCHAR},
            </if>
            <if test="workflowId != null">
                #{workflowId,jdbcType=BIGINT},
            </if>
            <if test="body != null">
                #{body,jdbcType=BIGINT},
            </if>
            <if test="bodyType != null">
                #{bodyType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=SMALLINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="orgAccountId != null">
                #{orgAccountId,jdbcType=BIGINT},
            </if>
            <if test="identifier != null">
                #{identifier,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=BIGINT},
            </if>
            <if test="formParentid != null">
                #{formParentid,jdbcType=BIGINT},
            </if>
            <if test="templeteNumber != null">
                #{templeteNumber,jdbcType=VARCHAR},
            </if>
            <if test="colSubject != null">
                #{colSubject,jdbcType=VARCHAR},
            </if>
            <if test="standardDuration != null">
                #{standardDuration,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=SMALLINT},
            </if>
            <if test="canSupervise != null">
                #{canSupervise,jdbcType=SMALLINT},
            </if>
            <if test="canTrackWorkflow != null">
                #{canTrackWorkflow,jdbcType=SMALLINT},
            </if>
            <if test="secretRelatedLevel != null">
                #{secretRelatedLevel,jdbcType=SMALLINT},
            </if>
            <if test="markInfo != null">
                #{markInfo,jdbcType=LONGVARCHAR},
            </if>
            <if test="taohongTemplete != null">
                #{taohongTemplete,jdbcType=BIGINT},
            </if>
            <if test="secretLevel != null">
                #{secretLevel,jdbcType=SMALLINT},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                ID = #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                CATEGORY_ID = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="moduleType != null">
                MODULE_TYPE = #{moduleType,jdbcType=SMALLINT},
            </if>
            <if test="subModuleType != null">
                SUB_MODULE_TYPE = #{subModuleType,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                `TYPE` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                SUBJECT = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="isSystem != null">
                IS_SYSTEM = #{isSystem,jdbcType=SMALLINT},
            </if>
            <if test="memberId != null">
                MEMBER_ID = #{memberId,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyMember != null">
                MODIFY_MEMBER = #{modifyMember,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="summary != null">
                SUMMARY = #{summary,jdbcType=LONGVARCHAR},
            </if>
            <if test="workflowId != null">
                WORKFLOW_ID = #{workflowId,jdbcType=BIGINT},
            </if>
            <if test="body != null">
                BODY = #{body,jdbcType=BIGINT},
            </if>
            <if test="bodyType != null">
                BODY_TYPE = #{bodyType,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `STATE` = #{state,jdbcType=SMALLINT},
            </if>
            <if test="isDelete != null">
                IS_DELETE = #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="orgAccountId != null">
                ORG_ACCOUNT_ID = #{orgAccountId,jdbcType=BIGINT},
            </if>
            <if test="identifier != null">
                IDENTIFIER = #{identifier,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                PROJECT_ID = #{projectId,jdbcType=BIGINT},
            </if>
            <if test="formParentid != null">
                FORM_PARENTID = #{formParentid,jdbcType=BIGINT},
            </if>
            <if test="templeteNumber != null">
                TEMPLETE_NUMBER = #{templeteNumber,jdbcType=VARCHAR},
            </if>
            <if test="colSubject != null">
                COL_SUBJECT = #{colSubject,jdbcType=VARCHAR},
            </if>
            <if test="standardDuration != null">
                STANDARD_DURATION = #{standardDuration,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=SMALLINT},
            </if>
            <if test="canSupervise != null">
                CAN_SUPERVISE = #{canSupervise,jdbcType=SMALLINT},
            </if>
            <if test="canTrackWorkflow != null">
                CAN_TRACK_WORKFLOW = #{canTrackWorkflow,jdbcType=SMALLINT},
            </if>
            <if test="secretRelatedLevel != null">
                secret_related_level = #{secretRelatedLevel,jdbcType=SMALLINT},
            </if>
            <if test="markInfo != null">
                MARK_INFO = #{markInfo,jdbcType=LONGVARCHAR},
            </if>
            <if test="taohongTemplete != null">
                TAOHONG_TEMPLETE = #{taohongTemplete,jdbcType=BIGINT},
            </if>
            <if test="secretLevel != null">
                SECRET_LEVEL = #{secretLevel,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
</mapper>