<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biuaxia.odm.generate.mapper.Formmain0743Mapper">
    <resultMap id="BaseResultMap" type="cn.biuaxia.odm.generate.domain.Formmain0743">
        <!--@mbg.generated-->
        <!--@Table formmain_0743-->
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="start_member_id" jdbcType="VARCHAR" property="startMemberId"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="approve_member_id" jdbcType="VARCHAR" property="approveMemberId"/>
        <result column="approve_date" jdbcType="TIMESTAMP" property="approveDate"/>
        <result column="finishedflag" jdbcType="INTEGER" property="finishedflag"/>
        <result column="ratifyflag" jdbcType="INTEGER" property="ratifyflag"/>
        <result column="ratify_member_id" jdbcType="VARCHAR" property="ratifyMemberId"/>
        <result column="ratify_date" jdbcType="TIMESTAMP" property="ratifyDate"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="modify_member_id" jdbcType="VARCHAR" property="modifyMemberId"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="receive_unit" jdbcType="VARCHAR" property="receiveUnit"/>
        <result column="field0001" jdbcType="VARCHAR" property="field0001"/>
        <result column="field0002" jdbcType="VARCHAR" property="field0002"/>
        <result column="field0003" jdbcType="VARCHAR" property="field0003"/>
        <result column="field0004" jdbcType="VARCHAR" property="field0004"/>
        <result column="field0005" jdbcType="TIMESTAMP" property="field0005"/>
        <result column="field0006" jdbcType="VARCHAR" property="field0006"/>
        <result column="field0007" jdbcType="LONGVARCHAR" property="field0007"/>
        <result column="field0008" jdbcType="VARCHAR" property="field0008"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date, receive_unit,
        field0001, field0002, field0003, field0004, field0005, field0006, field0007, field0008
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update formmain_0743
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="`state` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.state,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="start_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.startMemberId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="start_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.startDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="approve_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.approveMemberId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="approve_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.approveDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="finishedflag = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.finishedflag,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="ratifyflag = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyflag,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="ratify_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyMemberId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="ratify_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="sort = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.sort,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="modify_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.modifyMemberId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="modify_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.modifyDate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="receive_unit = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.receiveUnit,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0001 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0001,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0002 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0002,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0003 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0003,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0004 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0004,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0005 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0005,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="field0006 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0006,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0007 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0007,jdbcType=LONGVARCHAR}
                </foreach>
            </trim>
            <trim prefix="field0008 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0008,jdbcType=VARCHAR}
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=DECIMAL}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update formmain_0743
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="`state` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.state != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.state,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="start_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.startMemberId != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.startMemberId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="start_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.startDate != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.startDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="approve_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.approveMemberId != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.approveMemberId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="approve_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.approveDate != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.approveDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="finishedflag = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.finishedflag != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.finishedflag,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ratifyflag = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.ratifyflag != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyflag,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ratify_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.ratifyMemberId != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyMemberId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ratify_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.ratifyDate != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.ratifyDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.sort != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.sort,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modify_member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.modifyMemberId != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.modifyMemberId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modify_date = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.modifyDate != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.modifyDate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="receive_unit = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.receiveUnit != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.receiveUnit,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0001 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0001 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0001,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0002 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0002 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0002,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0003 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0003 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0003,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0004 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0004 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0004,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0005 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0005 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0005,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0006 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0006 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0006,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0007 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0007 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0007,jdbcType=LONGVARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="field0008 = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.field0008 != null">
                        when ID = #{item.id,jdbcType=DECIMAL} then #{item.field0008,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=DECIMAL}
        </foreach>
    </update>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into formmain_0743
        (ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date,
        receive_unit, field0001, field0002, field0003, field0004, field0005, field0006,
        field0007, field0008)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=DECIMAL}, #{item.state,jdbcType=INTEGER}, #{item.startMemberId,jdbcType=VARCHAR},
            #{item.startDate,jdbcType=TIMESTAMP}, #{item.approveMemberId,jdbcType=VARCHAR},
            #{item.approveDate,jdbcType=TIMESTAMP}, #{item.finishedflag,jdbcType=INTEGER},
            #{item.ratifyflag,jdbcType=INTEGER}, #{item.ratifyMemberId,jdbcType=VARCHAR},
            #{item.ratifyDate,jdbcType=TIMESTAMP},
            #{item.sort,jdbcType=INTEGER}, #{item.modifyMemberId,jdbcType=VARCHAR},
            #{item.modifyDate,jdbcType=TIMESTAMP},
            #{item.receiveUnit,jdbcType=VARCHAR}, #{item.field0001,jdbcType=VARCHAR},
            #{item.field0002,jdbcType=VARCHAR},
            #{item.field0003,jdbcType=VARCHAR}, #{item.field0004,jdbcType=VARCHAR},
            #{item.field0005,jdbcType=TIMESTAMP},
            #{item.field0006,jdbcType=VARCHAR}, #{item.field0007,jdbcType=LONGVARCHAR},
            #{item.field0008,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="cn.biuaxia.odm.generate.domain.Formmain0743">
        <!--@mbg.generated-->
        insert into formmain_0743
        (ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date,
        receive_unit, field0001, field0002, field0003, field0004, field0005, field0006,
        field0007, field0008)
        values
        (#{id,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, #{startMemberId,jdbcType=VARCHAR},
        #{startDate,jdbcType=TIMESTAMP}, #{approveMemberId,jdbcType=VARCHAR}, #{approveDate,jdbcType=TIMESTAMP},
        #{finishedflag,jdbcType=INTEGER}, #{ratifyflag,jdbcType=INTEGER}, #{ratifyMemberId,jdbcType=VARCHAR},
        #{ratifyDate,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, #{modifyMemberId,jdbcType=VARCHAR},
        #{modifyDate,jdbcType=TIMESTAMP}, #{receiveUnit,jdbcType=VARCHAR}, #{field0001,jdbcType=VARCHAR},
        #{field0002,jdbcType=VARCHAR}, #{field0003,jdbcType=VARCHAR}, #{field0004,jdbcType=VARCHAR},
        #{field0005,jdbcType=TIMESTAMP}, #{field0006,jdbcType=VARCHAR}, #{field0007,jdbcType=LONGVARCHAR},
        #{field0008,jdbcType=VARCHAR})
        on duplicate key update
        ID = #{id,jdbcType=DECIMAL},
        `state` = #{state,jdbcType=INTEGER},
        start_member_id = #{startMemberId,jdbcType=VARCHAR},
        start_date = #{startDate,jdbcType=TIMESTAMP},
        approve_member_id = #{approveMemberId,jdbcType=VARCHAR},
        approve_date = #{approveDate,jdbcType=TIMESTAMP},
        finishedflag = #{finishedflag,jdbcType=INTEGER},
        ratifyflag = #{ratifyflag,jdbcType=INTEGER},
        ratify_member_id = #{ratifyMemberId,jdbcType=VARCHAR},
        ratify_date = #{ratifyDate,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        modify_member_id = #{modifyMemberId,jdbcType=VARCHAR},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
        receive_unit = #{receiveUnit,jdbcType=VARCHAR},
        field0001 = #{field0001,jdbcType=VARCHAR},
        field0002 = #{field0002,jdbcType=VARCHAR},
        field0003 = #{field0003,jdbcType=VARCHAR},
        field0004 = #{field0004,jdbcType=VARCHAR},
        field0005 = #{field0005,jdbcType=TIMESTAMP},
        field0006 = #{field0006,jdbcType=VARCHAR},
        field0007 = #{field0007,jdbcType=LONGVARCHAR},
        field0008 = #{field0008,jdbcType=VARCHAR}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="cn.biuaxia.odm.generate.domain.Formmain0743">
        <!--@mbg.generated-->
        insert into formmain_0743
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="startMemberId != null">
                start_member_id,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="approveMemberId != null">
                approve_member_id,
            </if>
            <if test="approveDate != null">
                approve_date,
            </if>
            <if test="finishedflag != null">
                finishedflag,
            </if>
            <if test="ratifyflag != null">
                ratifyflag,
            </if>
            <if test="ratifyMemberId != null">
                ratify_member_id,
            </if>
            <if test="ratifyDate != null">
                ratify_date,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="modifyMemberId != null">
                modify_member_id,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="receiveUnit != null">
                receive_unit,
            </if>
            <if test="field0001 != null">
                field0001,
            </if>
            <if test="field0002 != null">
                field0002,
            </if>
            <if test="field0003 != null">
                field0003,
            </if>
            <if test="field0004 != null">
                field0004,
            </if>
            <if test="field0005 != null">
                field0005,
            </if>
            <if test="field0006 != null">
                field0006,
            </if>
            <if test="field0007 != null">
                field0007,
            </if>
            <if test="field0008 != null">
                field0008,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="startMemberId != null">
                #{startMemberId,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approveMemberId != null">
                #{approveMemberId,jdbcType=VARCHAR},
            </if>
            <if test="approveDate != null">
                #{approveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishedflag != null">
                #{finishedflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyflag != null">
                #{ratifyflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyMemberId != null">
                #{ratifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="ratifyDate != null">
                #{ratifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="modifyMemberId != null">
                #{modifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveUnit != null">
                #{receiveUnit,jdbcType=VARCHAR},
            </if>
            <if test="field0001 != null">
                #{field0001,jdbcType=VARCHAR},
            </if>
            <if test="field0002 != null">
                #{field0002,jdbcType=VARCHAR},
            </if>
            <if test="field0003 != null">
                #{field0003,jdbcType=VARCHAR},
            </if>
            <if test="field0004 != null">
                #{field0004,jdbcType=VARCHAR},
            </if>
            <if test="field0005 != null">
                #{field0005,jdbcType=TIMESTAMP},
            </if>
            <if test="field0006 != null">
                #{field0006,jdbcType=VARCHAR},
            </if>
            <if test="field0007 != null">
                #{field0007,jdbcType=LONGVARCHAR},
            </if>
            <if test="field0008 != null">
                #{field0008,jdbcType=VARCHAR},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                ID = #{id,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=INTEGER},
            </if>
            <if test="startMemberId != null">
                start_member_id = #{startMemberId,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approveMemberId != null">
                approve_member_id = #{approveMemberId,jdbcType=VARCHAR},
            </if>
            <if test="approveDate != null">
                approve_date = #{approveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishedflag != null">
                finishedflag = #{finishedflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyflag != null">
                ratifyflag = #{ratifyflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyMemberId != null">
                ratify_member_id = #{ratifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="ratifyDate != null">
                ratify_date = #{ratifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="modifyMemberId != null">
                modify_member_id = #{modifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveUnit != null">
                receive_unit = #{receiveUnit,jdbcType=VARCHAR},
            </if>
            <if test="field0001 != null">
                field0001 = #{field0001,jdbcType=VARCHAR},
            </if>
            <if test="field0002 != null">
                field0002 = #{field0002,jdbcType=VARCHAR},
            </if>
            <if test="field0003 != null">
                field0003 = #{field0003,jdbcType=VARCHAR},
            </if>
            <if test="field0004 != null">
                field0004 = #{field0004,jdbcType=VARCHAR},
            </if>
            <if test="field0005 != null">
                field0005 = #{field0005,jdbcType=TIMESTAMP},
            </if>
            <if test="field0006 != null">
                field0006 = #{field0006,jdbcType=VARCHAR},
            </if>
            <if test="field0007 != null">
                field0007 = #{field0007,jdbcType=LONGVARCHAR},
            </if>
            <if test="field0008 != null">
                field0008 = #{field0008,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>