<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biuaxia.odm.generate.mapper.Formmain0001Mapper">
    <resultMap id="BaseResultMap" type="cn.biuaxia.odm.generate.domain.Formmain0001">
        <!--@mbg.generated-->
        <!--@Table formmain_0001-->
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="start_member_id" jdbcType="VARCHAR" property="startMemberId"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="approve_member_id" jdbcType="VARCHAR" property="approveMemberId"/>
        <result column="approve_date" jdbcType="TIMESTAMP" property="approveDate"/>
        <result column="finishedflag" jdbcType="INTEGER" property="finishedflag"/>
        <result column="ratifyflag" jdbcType="INTEGER" property="ratifyflag"/>
        <result column="ratify_member_id" jdbcType="VARCHAR" property="ratifyMemberId"/>
        <result column="ratify_date" jdbcType="TIMESTAMP" property="ratifyDate"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="modify_member_id" jdbcType="VARCHAR" property="modifyMemberId"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="receive_unit" jdbcType="VARCHAR" property="receiveUnit"/>
        <result column="field0001" jdbcType="VARCHAR" property="field0001"/>
        <result column="field0002" jdbcType="TIMESTAMP" property="field0002"/>
        <result column="field0003" jdbcType="VARCHAR" property="field0003"/>
        <result column="field0004" jdbcType="VARCHAR" property="field0004"/>
        <result column="field0005" jdbcType="VARCHAR" property="field0005"/>
        <result column="field0006" jdbcType="VARCHAR" property="field0006"/>
        <result column="field0007" jdbcType="VARCHAR" property="field0007"/>
        <result column="field0008" jdbcType="TIMESTAMP" property="field0008"/>
        <result column="field0009" jdbcType="DECIMAL" property="field0009"/>
        <result column="field0010" jdbcType="VARCHAR" property="field0010"/>
        <result column="field0011" jdbcType="VARCHAR" property="field0011"/>
        <result column="field0012" jdbcType="VARCHAR" property="field0012"/>
        <result column="field0013" jdbcType="VARCHAR" property="field0013"/>
        <result column="field0014" jdbcType="VARCHAR" property="field0014"/>
        <result column="field0015" jdbcType="VARCHAR" property="field0015"/>
        <result column="field0016" jdbcType="VARCHAR" property="field0016"/>
        <result column="field0017" jdbcType="DECIMAL" property="field0017"/>
        <result column="field0018" jdbcType="DECIMAL" property="field0018"/>
        <result column="field0019" jdbcType="VARCHAR" property="field0019"/>
        <result column="field0020" jdbcType="VARCHAR" property="field0020"/>
        <result column="field0021" jdbcType="VARCHAR" property="field0021"/>
        <result column="field0022" jdbcType="VARCHAR" property="field0022"/>
        <result column="field0023" jdbcType="DECIMAL" property="field0023"/>
        <result column="field0024" jdbcType="VARCHAR" property="field0024"/>
        <result column="field0025" jdbcType="VARCHAR" property="field0025"/>
        <result column="field0026" jdbcType="VARCHAR" property="field0026"/>
        <result column="field0027" jdbcType="VARCHAR" property="field0027"/>
        <result column="field0028" jdbcType="VARCHAR" property="field0028"/>
        <result column="field0029" jdbcType="VARCHAR" property="field0029"/>
        <result column="field0030" jdbcType="VARCHAR" property="field0030"/>
        <result column="field0031" jdbcType="VARCHAR" property="field0031"/>
        <result column="field0032" jdbcType="VARCHAR" property="field0032"/>
        <result column="field0033" jdbcType="TIMESTAMP" property="field0033"/>
        <result column="field0034" jdbcType="TIMESTAMP" property="field0034"/>
        <result column="field0035" jdbcType="TIMESTAMP" property="field0035"/>
        <result column="field0036" jdbcType="VARCHAR" property="field0036"/>
        <result column="field0037" jdbcType="VARCHAR" property="field0037"/>
        <result column="field0038" jdbcType="VARCHAR" property="field0038"/>
        <result column="field0039" jdbcType="VARCHAR" property="field0039"/>
        <result column="field0040" jdbcType="DECIMAL" property="field0040"/>
        <result column="field0041" jdbcType="DECIMAL" property="field0041"/>
        <result column="field0042" jdbcType="DECIMAL" property="field0042"/>
        <result column="field0043" jdbcType="DECIMAL" property="field0043"/>
        <result column="field0044" jdbcType="DECIMAL" property="field0044"/>
        <result column="field0045" jdbcType="DECIMAL" property="field0045"/>
        <result column="field0046" jdbcType="DECIMAL" property="field0046"/>
        <result column="field0047" jdbcType="DECIMAL" property="field0047"/>
        <result column="field0048" jdbcType="DECIMAL" property="field0048"/>
        <result column="field0049" jdbcType="DECIMAL" property="field0049"/>
        <result column="field0050" jdbcType="DECIMAL" property="field0050"/>
        <result column="field0051" jdbcType="VARCHAR" property="field0051"/>
        <result column="field0052" jdbcType="VARCHAR" property="field0052"/>
        <result column="field0053" jdbcType="VARCHAR" property="field0053"/>
        <result column="field0054" jdbcType="VARCHAR" property="field0054"/>
        <result column="field0055" jdbcType="VARCHAR" property="field0055"/>
        <result column="field0056" jdbcType="VARCHAR" property="field0056"/>
        <result column="field0057" jdbcType="TIMESTAMP" property="field0057"/>
        <result column="field0058" jdbcType="VARCHAR" property="field0058"/>
        <result column="field0059" jdbcType="TIMESTAMP" property="field0059"/>
        <result column="field0060" jdbcType="TIMESTAMP" property="field0060"/>
        <result column="field0061" jdbcType="VARCHAR" property="field0061"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date, receive_unit,
        field0001, field0002, field0003, field0004, field0005, field0006, field0007, field0008,
        field0009, field0010, field0011, field0012, field0013, field0014, field0015, field0016,
        field0017, field0018, field0019, field0020, field0021, field0022, field0023, field0024,
        field0025, field0026, field0027, field0028, field0029, field0030, field0031, field0032,
        field0033, field0034, field0035, field0036, field0037, field0038, field0039, field0040,
        field0041, field0042, field0043, field0044, field0045, field0046, field0047, field0048,
        field0049, field0050, field0051, field0052, field0053, field0054, field0055, field0056,
        field0057, field0058, field0059, field0060, field0061
    </sql>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into formmain_0001
        (ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date,
        receive_unit, field0001, field0002, field0003, field0004, field0005, field0006,
        field0007, field0008, field0009, field0010, field0011, field0012, field0013, field0014,
        field0015, field0016, field0017, field0018, field0019, field0020, field0021, field0022,
        field0023, field0024, field0025, field0026, field0027, field0028, field0029, field0030,
        field0031, field0032, field0033, field0034, field0035, field0036, field0037, field0038,
        field0039, field0040, field0041, field0042, field0043, field0044, field0045, field0046,
        field0047, field0048, field0049, field0050, field0051, field0052, field0053, field0054,
        field0055, field0056, field0057, field0058, field0059, field0060, field0061)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=DECIMAL}, #{item.state,jdbcType=INTEGER}, #{item.startMemberId,jdbcType=VARCHAR},
            #{item.startDate,jdbcType=TIMESTAMP}, #{item.approveMemberId,jdbcType=VARCHAR},
            #{item.approveDate,jdbcType=TIMESTAMP}, #{item.finishedflag,jdbcType=INTEGER},
            #{item.ratifyflag,jdbcType=INTEGER}, #{item.ratifyMemberId,jdbcType=VARCHAR},
            #{item.ratifyDate,jdbcType=TIMESTAMP},
            #{item.sort,jdbcType=INTEGER}, #{item.modifyMemberId,jdbcType=VARCHAR},
            #{item.modifyDate,jdbcType=TIMESTAMP},
            #{item.receiveUnit,jdbcType=VARCHAR}, #{item.field0001,jdbcType=VARCHAR},
            #{item.field0002,jdbcType=TIMESTAMP},
            #{item.field0003,jdbcType=VARCHAR}, #{item.field0004,jdbcType=VARCHAR}, #{item.field0005,jdbcType=VARCHAR},
            #{item.field0006,jdbcType=VARCHAR}, #{item.field0007,jdbcType=VARCHAR},
            #{item.field0008,jdbcType=TIMESTAMP},
            #{item.field0009,jdbcType=DECIMAL}, #{item.field0010,jdbcType=VARCHAR}, #{item.field0011,jdbcType=VARCHAR},
            #{item.field0012,jdbcType=VARCHAR}, #{item.field0013,jdbcType=VARCHAR}, #{item.field0014,jdbcType=VARCHAR},
            #{item.field0015,jdbcType=VARCHAR}, #{item.field0016,jdbcType=VARCHAR}, #{item.field0017,jdbcType=DECIMAL},
            #{item.field0018,jdbcType=DECIMAL}, #{item.field0019,jdbcType=VARCHAR}, #{item.field0020,jdbcType=VARCHAR},
            #{item.field0021,jdbcType=VARCHAR}, #{item.field0022,jdbcType=VARCHAR}, #{item.field0023,jdbcType=DECIMAL},
            #{item.field0024,jdbcType=VARCHAR}, #{item.field0025,jdbcType=VARCHAR}, #{item.field0026,jdbcType=VARCHAR},
            #{item.field0027,jdbcType=VARCHAR}, #{item.field0028,jdbcType=VARCHAR}, #{item.field0029,jdbcType=VARCHAR},
            #{item.field0030,jdbcType=VARCHAR}, #{item.field0031,jdbcType=VARCHAR}, #{item.field0032,jdbcType=VARCHAR},
            #{item.field0033,jdbcType=TIMESTAMP}, #{item.field0034,jdbcType=TIMESTAMP},
            #{item.field0035,jdbcType=TIMESTAMP},
            #{item.field0036,jdbcType=VARCHAR}, #{item.field0037,jdbcType=VARCHAR}, #{item.field0038,jdbcType=VARCHAR},
            #{item.field0039,jdbcType=VARCHAR}, #{item.field0040,jdbcType=DECIMAL}, #{item.field0041,jdbcType=DECIMAL},
            #{item.field0042,jdbcType=DECIMAL}, #{item.field0043,jdbcType=DECIMAL}, #{item.field0044,jdbcType=DECIMAL},
            #{item.field0045,jdbcType=DECIMAL}, #{item.field0046,jdbcType=DECIMAL}, #{item.field0047,jdbcType=DECIMAL},
            #{item.field0048,jdbcType=DECIMAL}, #{item.field0049,jdbcType=DECIMAL}, #{item.field0050,jdbcType=DECIMAL},
            #{item.field0051,jdbcType=VARCHAR}, #{item.field0052,jdbcType=VARCHAR}, #{item.field0053,jdbcType=VARCHAR},
            #{item.field0054,jdbcType=VARCHAR}, #{item.field0055,jdbcType=VARCHAR}, #{item.field0056,jdbcType=VARCHAR},
            #{item.field0057,jdbcType=TIMESTAMP}, #{item.field0058,jdbcType=VARCHAR},
            #{item.field0059,jdbcType=TIMESTAMP},
            #{item.field0060,jdbcType=TIMESTAMP}, #{item.field0061,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" parameterType="cn.biuaxia.odm.generate.domain.Formmain0001">
        <!--@mbg.generated-->
        insert into formmain_0001
        (ID, `state`, start_member_id, start_date, approve_member_id, approve_date, finishedflag,
        ratifyflag, ratify_member_id, ratify_date, sort, modify_member_id, modify_date,
        receive_unit, field0001, field0002, field0003, field0004, field0005, field0006,
        field0007, field0008, field0009, field0010, field0011, field0012, field0013, field0014,
        field0015, field0016, field0017, field0018, field0019, field0020, field0021, field0022,
        field0023, field0024, field0025, field0026, field0027, field0028, field0029, field0030,
        field0031, field0032, field0033, field0034, field0035, field0036, field0037, field0038,
        field0039, field0040, field0041, field0042, field0043, field0044, field0045, field0046,
        field0047, field0048, field0049, field0050, field0051, field0052, field0053, field0054,
        field0055, field0056, field0057, field0058, field0059, field0060, field0061)
        values
        (#{id,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, #{startMemberId,jdbcType=VARCHAR},
        #{startDate,jdbcType=TIMESTAMP}, #{approveMemberId,jdbcType=VARCHAR}, #{approveDate,jdbcType=TIMESTAMP},
        #{finishedflag,jdbcType=INTEGER}, #{ratifyflag,jdbcType=INTEGER}, #{ratifyMemberId,jdbcType=VARCHAR},
        #{ratifyDate,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, #{modifyMemberId,jdbcType=VARCHAR},
        #{modifyDate,jdbcType=TIMESTAMP}, #{receiveUnit,jdbcType=VARCHAR}, #{field0001,jdbcType=VARCHAR},
        #{field0002,jdbcType=TIMESTAMP}, #{field0003,jdbcType=VARCHAR}, #{field0004,jdbcType=VARCHAR},
        #{field0005,jdbcType=VARCHAR}, #{field0006,jdbcType=VARCHAR}, #{field0007,jdbcType=VARCHAR},
        #{field0008,jdbcType=TIMESTAMP}, #{field0009,jdbcType=DECIMAL}, #{field0010,jdbcType=VARCHAR},
        #{field0011,jdbcType=VARCHAR}, #{field0012,jdbcType=VARCHAR}, #{field0013,jdbcType=VARCHAR},
        #{field0014,jdbcType=VARCHAR}, #{field0015,jdbcType=VARCHAR}, #{field0016,jdbcType=VARCHAR},
        #{field0017,jdbcType=DECIMAL}, #{field0018,jdbcType=DECIMAL}, #{field0019,jdbcType=VARCHAR},
        #{field0020,jdbcType=VARCHAR}, #{field0021,jdbcType=VARCHAR}, #{field0022,jdbcType=VARCHAR},
        #{field0023,jdbcType=DECIMAL}, #{field0024,jdbcType=VARCHAR}, #{field0025,jdbcType=VARCHAR},
        #{field0026,jdbcType=VARCHAR}, #{field0027,jdbcType=VARCHAR}, #{field0028,jdbcType=VARCHAR},
        #{field0029,jdbcType=VARCHAR}, #{field0030,jdbcType=VARCHAR}, #{field0031,jdbcType=VARCHAR},
        #{field0032,jdbcType=VARCHAR}, #{field0033,jdbcType=TIMESTAMP}, #{field0034,jdbcType=TIMESTAMP},
        #{field0035,jdbcType=TIMESTAMP}, #{field0036,jdbcType=VARCHAR}, #{field0037,jdbcType=VARCHAR},
        #{field0038,jdbcType=VARCHAR}, #{field0039,jdbcType=VARCHAR}, #{field0040,jdbcType=DECIMAL},
        #{field0041,jdbcType=DECIMAL}, #{field0042,jdbcType=DECIMAL}, #{field0043,jdbcType=DECIMAL},
        #{field0044,jdbcType=DECIMAL}, #{field0045,jdbcType=DECIMAL}, #{field0046,jdbcType=DECIMAL},
        #{field0047,jdbcType=DECIMAL}, #{field0048,jdbcType=DECIMAL}, #{field0049,jdbcType=DECIMAL},
        #{field0050,jdbcType=DECIMAL}, #{field0051,jdbcType=VARCHAR}, #{field0052,jdbcType=VARCHAR},
        #{field0053,jdbcType=VARCHAR}, #{field0054,jdbcType=VARCHAR}, #{field0055,jdbcType=VARCHAR},
        #{field0056,jdbcType=VARCHAR}, #{field0057,jdbcType=TIMESTAMP}, #{field0058,jdbcType=VARCHAR},
        #{field0059,jdbcType=TIMESTAMP}, #{field0060,jdbcType=TIMESTAMP}, #{field0061,jdbcType=VARCHAR}
        )
        on duplicate key update
        ID = #{id,jdbcType=DECIMAL},
        `state` = #{state,jdbcType=INTEGER},
        start_member_id = #{startMemberId,jdbcType=VARCHAR},
        start_date = #{startDate,jdbcType=TIMESTAMP},
        approve_member_id = #{approveMemberId,jdbcType=VARCHAR},
        approve_date = #{approveDate,jdbcType=TIMESTAMP},
        finishedflag = #{finishedflag,jdbcType=INTEGER},
        ratifyflag = #{ratifyflag,jdbcType=INTEGER},
        ratify_member_id = #{ratifyMemberId,jdbcType=VARCHAR},
        ratify_date = #{ratifyDate,jdbcType=TIMESTAMP},
        sort = #{sort,jdbcType=INTEGER},
        modify_member_id = #{modifyMemberId,jdbcType=VARCHAR},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
        receive_unit = #{receiveUnit,jdbcType=VARCHAR},
        field0001 = #{field0001,jdbcType=VARCHAR},
        field0002 = #{field0002,jdbcType=TIMESTAMP},
        field0003 = #{field0003,jdbcType=VARCHAR},
        field0004 = #{field0004,jdbcType=VARCHAR},
        field0005 = #{field0005,jdbcType=VARCHAR},
        field0006 = #{field0006,jdbcType=VARCHAR},
        field0007 = #{field0007,jdbcType=VARCHAR},
        field0008 = #{field0008,jdbcType=TIMESTAMP},
        field0009 = #{field0009,jdbcType=DECIMAL},
        field0010 = #{field0010,jdbcType=VARCHAR},
        field0011 = #{field0011,jdbcType=VARCHAR},
        field0012 = #{field0012,jdbcType=VARCHAR},
        field0013 = #{field0013,jdbcType=VARCHAR},
        field0014 = #{field0014,jdbcType=VARCHAR},
        field0015 = #{field0015,jdbcType=VARCHAR},
        field0016 = #{field0016,jdbcType=VARCHAR},
        field0017 = #{field0017,jdbcType=DECIMAL},
        field0018 = #{field0018,jdbcType=DECIMAL},
        field0019 = #{field0019,jdbcType=VARCHAR},
        field0020 = #{field0020,jdbcType=VARCHAR},
        field0021 = #{field0021,jdbcType=VARCHAR},
        field0022 = #{field0022,jdbcType=VARCHAR},
        field0023 = #{field0023,jdbcType=DECIMAL},
        field0024 = #{field0024,jdbcType=VARCHAR},
        field0025 = #{field0025,jdbcType=VARCHAR},
        field0026 = #{field0026,jdbcType=VARCHAR},
        field0027 = #{field0027,jdbcType=VARCHAR},
        field0028 = #{field0028,jdbcType=VARCHAR},
        field0029 = #{field0029,jdbcType=VARCHAR},
        field0030 = #{field0030,jdbcType=VARCHAR},
        field0031 = #{field0031,jdbcType=VARCHAR},
        field0032 = #{field0032,jdbcType=VARCHAR},
        field0033 = #{field0033,jdbcType=TIMESTAMP},
        field0034 = #{field0034,jdbcType=TIMESTAMP},
        field0035 = #{field0035,jdbcType=TIMESTAMP},
        field0036 = #{field0036,jdbcType=VARCHAR},
        field0037 = #{field0037,jdbcType=VARCHAR},
        field0038 = #{field0038,jdbcType=VARCHAR},
        field0039 = #{field0039,jdbcType=VARCHAR},
        field0040 = #{field0040,jdbcType=DECIMAL},
        field0041 = #{field0041,jdbcType=DECIMAL},
        field0042 = #{field0042,jdbcType=DECIMAL},
        field0043 = #{field0043,jdbcType=DECIMAL},
        field0044 = #{field0044,jdbcType=DECIMAL},
        field0045 = #{field0045,jdbcType=DECIMAL},
        field0046 = #{field0046,jdbcType=DECIMAL},
        field0047 = #{field0047,jdbcType=DECIMAL},
        field0048 = #{field0048,jdbcType=DECIMAL},
        field0049 = #{field0049,jdbcType=DECIMAL},
        field0050 = #{field0050,jdbcType=DECIMAL},
        field0051 = #{field0051,jdbcType=VARCHAR},
        field0052 = #{field0052,jdbcType=VARCHAR},
        field0053 = #{field0053,jdbcType=VARCHAR},
        field0054 = #{field0054,jdbcType=VARCHAR},
        field0055 = #{field0055,jdbcType=VARCHAR},
        field0056 = #{field0056,jdbcType=VARCHAR},
        field0057 = #{field0057,jdbcType=TIMESTAMP},
        field0058 = #{field0058,jdbcType=VARCHAR},
        field0059 = #{field0059,jdbcType=TIMESTAMP},
        field0060 = #{field0060,jdbcType=TIMESTAMP},
        field0061 = #{field0061,jdbcType=VARCHAR}
    </insert>
    <insert id="insertOrUpdateSelective" parameterType="cn.biuaxia.odm.generate.domain.Formmain0001">
        <!--@mbg.generated-->
        insert into formmain_0001
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="startMemberId != null">
                start_member_id,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="approveMemberId != null">
                approve_member_id,
            </if>
            <if test="approveDate != null">
                approve_date,
            </if>
            <if test="finishedflag != null">
                finishedflag,
            </if>
            <if test="ratifyflag != null">
                ratifyflag,
            </if>
            <if test="ratifyMemberId != null">
                ratify_member_id,
            </if>
            <if test="ratifyDate != null">
                ratify_date,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="modifyMemberId != null">
                modify_member_id,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="receiveUnit != null">
                receive_unit,
            </if>
            <if test="field0001 != null">
                field0001,
            </if>
            <if test="field0002 != null">
                field0002,
            </if>
            <if test="field0003 != null">
                field0003,
            </if>
            <if test="field0004 != null">
                field0004,
            </if>
            <if test="field0005 != null">
                field0005,
            </if>
            <if test="field0006 != null">
                field0006,
            </if>
            <if test="field0007 != null">
                field0007,
            </if>
            <if test="field0008 != null">
                field0008,
            </if>
            <if test="field0009 != null">
                field0009,
            </if>
            <if test="field0010 != null">
                field0010,
            </if>
            <if test="field0011 != null">
                field0011,
            </if>
            <if test="field0012 != null">
                field0012,
            </if>
            <if test="field0013 != null">
                field0013,
            </if>
            <if test="field0014 != null">
                field0014,
            </if>
            <if test="field0015 != null">
                field0015,
            </if>
            <if test="field0016 != null">
                field0016,
            </if>
            <if test="field0017 != null">
                field0017,
            </if>
            <if test="field0018 != null">
                field0018,
            </if>
            <if test="field0019 != null">
                field0019,
            </if>
            <if test="field0020 != null">
                field0020,
            </if>
            <if test="field0021 != null">
                field0021,
            </if>
            <if test="field0022 != null">
                field0022,
            </if>
            <if test="field0023 != null">
                field0023,
            </if>
            <if test="field0024 != null">
                field0024,
            </if>
            <if test="field0025 != null">
                field0025,
            </if>
            <if test="field0026 != null">
                field0026,
            </if>
            <if test="field0027 != null">
                field0027,
            </if>
            <if test="field0028 != null">
                field0028,
            </if>
            <if test="field0029 != null">
                field0029,
            </if>
            <if test="field0030 != null">
                field0030,
            </if>
            <if test="field0031 != null">
                field0031,
            </if>
            <if test="field0032 != null">
                field0032,
            </if>
            <if test="field0033 != null">
                field0033,
            </if>
            <if test="field0034 != null">
                field0034,
            </if>
            <if test="field0035 != null">
                field0035,
            </if>
            <if test="field0036 != null">
                field0036,
            </if>
            <if test="field0037 != null">
                field0037,
            </if>
            <if test="field0038 != null">
                field0038,
            </if>
            <if test="field0039 != null">
                field0039,
            </if>
            <if test="field0040 != null">
                field0040,
            </if>
            <if test="field0041 != null">
                field0041,
            </if>
            <if test="field0042 != null">
                field0042,
            </if>
            <if test="field0043 != null">
                field0043,
            </if>
            <if test="field0044 != null">
                field0044,
            </if>
            <if test="field0045 != null">
                field0045,
            </if>
            <if test="field0046 != null">
                field0046,
            </if>
            <if test="field0047 != null">
                field0047,
            </if>
            <if test="field0048 != null">
                field0048,
            </if>
            <if test="field0049 != null">
                field0049,
            </if>
            <if test="field0050 != null">
                field0050,
            </if>
            <if test="field0051 != null">
                field0051,
            </if>
            <if test="field0052 != null">
                field0052,
            </if>
            <if test="field0053 != null">
                field0053,
            </if>
            <if test="field0054 != null">
                field0054,
            </if>
            <if test="field0055 != null">
                field0055,
            </if>
            <if test="field0056 != null">
                field0056,
            </if>
            <if test="field0057 != null">
                field0057,
            </if>
            <if test="field0058 != null">
                field0058,
            </if>
            <if test="field0059 != null">
                field0059,
            </if>
            <if test="field0060 != null">
                field0060,
            </if>
            <if test="field0061 != null">
                field0061,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="startMemberId != null">
                #{startMemberId,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approveMemberId != null">
                #{approveMemberId,jdbcType=VARCHAR},
            </if>
            <if test="approveDate != null">
                #{approveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishedflag != null">
                #{finishedflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyflag != null">
                #{ratifyflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyMemberId != null">
                #{ratifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="ratifyDate != null">
                #{ratifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="modifyMemberId != null">
                #{modifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveUnit != null">
                #{receiveUnit,jdbcType=VARCHAR},
            </if>
            <if test="field0001 != null">
                #{field0001,jdbcType=VARCHAR},
            </if>
            <if test="field0002 != null">
                #{field0002,jdbcType=TIMESTAMP},
            </if>
            <if test="field0003 != null">
                #{field0003,jdbcType=VARCHAR},
            </if>
            <if test="field0004 != null">
                #{field0004,jdbcType=VARCHAR},
            </if>
            <if test="field0005 != null">
                #{field0005,jdbcType=VARCHAR},
            </if>
            <if test="field0006 != null">
                #{field0006,jdbcType=VARCHAR},
            </if>
            <if test="field0007 != null">
                #{field0007,jdbcType=VARCHAR},
            </if>
            <if test="field0008 != null">
                #{field0008,jdbcType=TIMESTAMP},
            </if>
            <if test="field0009 != null">
                #{field0009,jdbcType=DECIMAL},
            </if>
            <if test="field0010 != null">
                #{field0010,jdbcType=VARCHAR},
            </if>
            <if test="field0011 != null">
                #{field0011,jdbcType=VARCHAR},
            </if>
            <if test="field0012 != null">
                #{field0012,jdbcType=VARCHAR},
            </if>
            <if test="field0013 != null">
                #{field0013,jdbcType=VARCHAR},
            </if>
            <if test="field0014 != null">
                #{field0014,jdbcType=VARCHAR},
            </if>
            <if test="field0015 != null">
                #{field0015,jdbcType=VARCHAR},
            </if>
            <if test="field0016 != null">
                #{field0016,jdbcType=VARCHAR},
            </if>
            <if test="field0017 != null">
                #{field0017,jdbcType=DECIMAL},
            </if>
            <if test="field0018 != null">
                #{field0018,jdbcType=DECIMAL},
            </if>
            <if test="field0019 != null">
                #{field0019,jdbcType=VARCHAR},
            </if>
            <if test="field0020 != null">
                #{field0020,jdbcType=VARCHAR},
            </if>
            <if test="field0021 != null">
                #{field0021,jdbcType=VARCHAR},
            </if>
            <if test="field0022 != null">
                #{field0022,jdbcType=VARCHAR},
            </if>
            <if test="field0023 != null">
                #{field0023,jdbcType=DECIMAL},
            </if>
            <if test="field0024 != null">
                #{field0024,jdbcType=VARCHAR},
            </if>
            <if test="field0025 != null">
                #{field0025,jdbcType=VARCHAR},
            </if>
            <if test="field0026 != null">
                #{field0026,jdbcType=VARCHAR},
            </if>
            <if test="field0027 != null">
                #{field0027,jdbcType=VARCHAR},
            </if>
            <if test="field0028 != null">
                #{field0028,jdbcType=VARCHAR},
            </if>
            <if test="field0029 != null">
                #{field0029,jdbcType=VARCHAR},
            </if>
            <if test="field0030 != null">
                #{field0030,jdbcType=VARCHAR},
            </if>
            <if test="field0031 != null">
                #{field0031,jdbcType=VARCHAR},
            </if>
            <if test="field0032 != null">
                #{field0032,jdbcType=VARCHAR},
            </if>
            <if test="field0033 != null">
                #{field0033,jdbcType=TIMESTAMP},
            </if>
            <if test="field0034 != null">
                #{field0034,jdbcType=TIMESTAMP},
            </if>
            <if test="field0035 != null">
                #{field0035,jdbcType=TIMESTAMP},
            </if>
            <if test="field0036 != null">
                #{field0036,jdbcType=VARCHAR},
            </if>
            <if test="field0037 != null">
                #{field0037,jdbcType=VARCHAR},
            </if>
            <if test="field0038 != null">
                #{field0038,jdbcType=VARCHAR},
            </if>
            <if test="field0039 != null">
                #{field0039,jdbcType=VARCHAR},
            </if>
            <if test="field0040 != null">
                #{field0040,jdbcType=DECIMAL},
            </if>
            <if test="field0041 != null">
                #{field0041,jdbcType=DECIMAL},
            </if>
            <if test="field0042 != null">
                #{field0042,jdbcType=DECIMAL},
            </if>
            <if test="field0043 != null">
                #{field0043,jdbcType=DECIMAL},
            </if>
            <if test="field0044 != null">
                #{field0044,jdbcType=DECIMAL},
            </if>
            <if test="field0045 != null">
                #{field0045,jdbcType=DECIMAL},
            </if>
            <if test="field0046 != null">
                #{field0046,jdbcType=DECIMAL},
            </if>
            <if test="field0047 != null">
                #{field0047,jdbcType=DECIMAL},
            </if>
            <if test="field0048 != null">
                #{field0048,jdbcType=DECIMAL},
            </if>
            <if test="field0049 != null">
                #{field0049,jdbcType=DECIMAL},
            </if>
            <if test="field0050 != null">
                #{field0050,jdbcType=DECIMAL},
            </if>
            <if test="field0051 != null">
                #{field0051,jdbcType=VARCHAR},
            </if>
            <if test="field0052 != null">
                #{field0052,jdbcType=VARCHAR},
            </if>
            <if test="field0053 != null">
                #{field0053,jdbcType=VARCHAR},
            </if>
            <if test="field0054 != null">
                #{field0054,jdbcType=VARCHAR},
            </if>
            <if test="field0055 != null">
                #{field0055,jdbcType=VARCHAR},
            </if>
            <if test="field0056 != null">
                #{field0056,jdbcType=VARCHAR},
            </if>
            <if test="field0057 != null">
                #{field0057,jdbcType=TIMESTAMP},
            </if>
            <if test="field0058 != null">
                #{field0058,jdbcType=VARCHAR},
            </if>
            <if test="field0059 != null">
                #{field0059,jdbcType=TIMESTAMP},
            </if>
            <if test="field0060 != null">
                #{field0060,jdbcType=TIMESTAMP},
            </if>
            <if test="field0061 != null">
                #{field0061,jdbcType=VARCHAR},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                ID = #{id,jdbcType=DECIMAL},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=INTEGER},
            </if>
            <if test="startMemberId != null">
                start_member_id = #{startMemberId,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="approveMemberId != null">
                approve_member_id = #{approveMemberId,jdbcType=VARCHAR},
            </if>
            <if test="approveDate != null">
                approve_date = #{approveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishedflag != null">
                finishedflag = #{finishedflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyflag != null">
                ratifyflag = #{ratifyflag,jdbcType=INTEGER},
            </if>
            <if test="ratifyMemberId != null">
                ratify_member_id = #{ratifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="ratifyDate != null">
                ratify_date = #{ratifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="modifyMemberId != null">
                modify_member_id = #{modifyMemberId,jdbcType=VARCHAR},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveUnit != null">
                receive_unit = #{receiveUnit,jdbcType=VARCHAR},
            </if>
            <if test="field0001 != null">
                field0001 = #{field0001,jdbcType=VARCHAR},
            </if>
            <if test="field0002 != null">
                field0002 = #{field0002,jdbcType=TIMESTAMP},
            </if>
            <if test="field0003 != null">
                field0003 = #{field0003,jdbcType=VARCHAR},
            </if>
            <if test="field0004 != null">
                field0004 = #{field0004,jdbcType=VARCHAR},
            </if>
            <if test="field0005 != null">
                field0005 = #{field0005,jdbcType=VARCHAR},
            </if>
            <if test="field0006 != null">
                field0006 = #{field0006,jdbcType=VARCHAR},
            </if>
            <if test="field0007 != null">
                field0007 = #{field0007,jdbcType=VARCHAR},
            </if>
            <if test="field0008 != null">
                field0008 = #{field0008,jdbcType=TIMESTAMP},
            </if>
            <if test="field0009 != null">
                field0009 = #{field0009,jdbcType=DECIMAL},
            </if>
            <if test="field0010 != null">
                field0010 = #{field0010,jdbcType=VARCHAR},
            </if>
            <if test="field0011 != null">
                field0011 = #{field0011,jdbcType=VARCHAR},
            </if>
            <if test="field0012 != null">
                field0012 = #{field0012,jdbcType=VARCHAR},
            </if>
            <if test="field0013 != null">
                field0013 = #{field0013,jdbcType=VARCHAR},
            </if>
            <if test="field0014 != null">
                field0014 = #{field0014,jdbcType=VARCHAR},
            </if>
            <if test="field0015 != null">
                field0015 = #{field0015,jdbcType=VARCHAR},
            </if>
            <if test="field0016 != null">
                field0016 = #{field0016,jdbcType=VARCHAR},
            </if>
            <if test="field0017 != null">
                field0017 = #{field0017,jdbcType=DECIMAL},
            </if>
            <if test="field0018 != null">
                field0018 = #{field0018,jdbcType=DECIMAL},
            </if>
            <if test="field0019 != null">
                field0019 = #{field0019,jdbcType=VARCHAR},
            </if>
            <if test="field0020 != null">
                field0020 = #{field0020,jdbcType=VARCHAR},
            </if>
            <if test="field0021 != null">
                field0021 = #{field0021,jdbcType=VARCHAR},
            </if>
            <if test="field0022 != null">
                field0022 = #{field0022,jdbcType=VARCHAR},
            </if>
            <if test="field0023 != null">
                field0023 = #{field0023,jdbcType=DECIMAL},
            </if>
            <if test="field0024 != null">
                field0024 = #{field0024,jdbcType=VARCHAR},
            </if>
            <if test="field0025 != null">
                field0025 = #{field0025,jdbcType=VARCHAR},
            </if>
            <if test="field0026 != null">
                field0026 = #{field0026,jdbcType=VARCHAR},
            </if>
            <if test="field0027 != null">
                field0027 = #{field0027,jdbcType=VARCHAR},
            </if>
            <if test="field0028 != null">
                field0028 = #{field0028,jdbcType=VARCHAR},
            </if>
            <if test="field0029 != null">
                field0029 = #{field0029,jdbcType=VARCHAR},
            </if>
            <if test="field0030 != null">
                field0030 = #{field0030,jdbcType=VARCHAR},
            </if>
            <if test="field0031 != null">
                field0031 = #{field0031,jdbcType=VARCHAR},
            </if>
            <if test="field0032 != null">
                field0032 = #{field0032,jdbcType=VARCHAR},
            </if>
            <if test="field0033 != null">
                field0033 = #{field0033,jdbcType=TIMESTAMP},
            </if>
            <if test="field0034 != null">
                field0034 = #{field0034,jdbcType=TIMESTAMP},
            </if>
            <if test="field0035 != null">
                field0035 = #{field0035,jdbcType=TIMESTAMP},
            </if>
            <if test="field0036 != null">
                field0036 = #{field0036,jdbcType=VARCHAR},
            </if>
            <if test="field0037 != null">
                field0037 = #{field0037,jdbcType=VARCHAR},
            </if>
            <if test="field0038 != null">
                field0038 = #{field0038,jdbcType=VARCHAR},
            </if>
            <if test="field0039 != null">
                field0039 = #{field0039,jdbcType=VARCHAR},
            </if>
            <if test="field0040 != null">
                field0040 = #{field0040,jdbcType=DECIMAL},
            </if>
            <if test="field0041 != null">
                field0041 = #{field0041,jdbcType=DECIMAL},
            </if>
            <if test="field0042 != null">
                field0042 = #{field0042,jdbcType=DECIMAL},
            </if>
            <if test="field0043 != null">
                field0043 = #{field0043,jdbcType=DECIMAL},
            </if>
            <if test="field0044 != null">
                field0044 = #{field0044,jdbcType=DECIMAL},
            </if>
            <if test="field0045 != null">
                field0045 = #{field0045,jdbcType=DECIMAL},
            </if>
            <if test="field0046 != null">
                field0046 = #{field0046,jdbcType=DECIMAL},
            </if>
            <if test="field0047 != null">
                field0047 = #{field0047,jdbcType=DECIMAL},
            </if>
            <if test="field0048 != null">
                field0048 = #{field0048,jdbcType=DECIMAL},
            </if>
            <if test="field0049 != null">
                field0049 = #{field0049,jdbcType=DECIMAL},
            </if>
            <if test="field0050 != null">
                field0050 = #{field0050,jdbcType=DECIMAL},
            </if>
            <if test="field0051 != null">
                field0051 = #{field0051,jdbcType=VARCHAR},
            </if>
            <if test="field0052 != null">
                field0052 = #{field0052,jdbcType=VARCHAR},
            </if>
            <if test="field0053 != null">
                field0053 = #{field0053,jdbcType=VARCHAR},
            </if>
            <if test="field0054 != null">
                field0054 = #{field0054,jdbcType=VARCHAR},
            </if>
            <if test="field0055 != null">
                field0055 = #{field0055,jdbcType=VARCHAR},
            </if>
            <if test="field0056 != null">
                field0056 = #{field0056,jdbcType=VARCHAR},
            </if>
            <if test="field0057 != null">
                field0057 = #{field0057,jdbcType=TIMESTAMP},
            </if>
            <if test="field0058 != null">
                field0058 = #{field0058,jdbcType=VARCHAR},
            </if>
            <if test="field0059 != null">
                field0059 = #{field0059,jdbcType=TIMESTAMP},
            </if>
            <if test="field0060 != null">
                field0060 = #{field0060,jdbcType=TIMESTAMP},
            </if>
            <if test="field0061 != null">
                field0061 = #{field0061,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>