<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biuaxia.data.migration.generate.msq.mapper.SysOrgPersonMapper">
  <resultMap id="BaseResultMap" type="cn.biuaxia.data.migration.generate.msq.domain.SysOrgPerson">
    <!--@mbg.generated-->
    <!--@Table sys_org_person-->
    <id column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="fd_mobile_no" jdbcType="VARCHAR" property="fdMobileNo" />
    <result column="fd_email" jdbcType="VARCHAR" property="fdEmail" />
    <result column="fd_login_name" jdbcType="VARCHAR" property="fdLoginName" />
    <result column="fd_password" jdbcType="VARCHAR" property="fdPassword" />
    <result column="fd_init_password" jdbcType="VARCHAR" property="fdInitPassword" />
    <result column="fd_rtx_no" jdbcType="VARCHAR" property="fdRtxNo" />
    <result column="fd_wechat_no" jdbcType="VARCHAR" property="fdWechatNo" />
    <result column="fd_card_no" jdbcType="VARCHAR" property="fdCardNo" />
    <result column="fd_attendance_card_number" jdbcType="VARCHAR" property="fdAttendanceCardNumber" />
    <result column="fd_work_phone" jdbcType="VARCHAR" property="fdWorkPhone" />
    <result column="fd_default_lang" jdbcType="VARCHAR" property="fdDefaultLang" />
    <result column="fd_sex" jdbcType="VARCHAR" property="fdSex" />
    <result column="fd_last_change_pwd" jdbcType="TIMESTAMP" property="fdLastChangePwd" />
    <result column="fd_lock_time" jdbcType="TIMESTAMP" property="fdLockTime" />
    <result column="fd_short_no" jdbcType="VARCHAR" property="fdShortNo" />
    <result column="fd_double_validation" jdbcType="VARCHAR" property="fdDoubleValidation" />
    <result column="fd_user_type" jdbcType="VARCHAR" property="fdUserType" />
    <result column="fd_nick_name" jdbcType="VARCHAR" property="fdNickName" />
    <result column="fd_is_activated" jdbcType="BIT" property="fdIsActivated" />
    <result column="fd_hiredate" jdbcType="TIMESTAMP" property="fdHiredate" />
    <result column="fd_leave_date" jdbcType="TIMESTAMP" property="fdLeaveDate" />
    <result column="fd_staffing_level_id" jdbcType="VARCHAR" property="fdStaffingLevelId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    fd_id, fd_mobile_no, fd_email, fd_login_name, fd_password, fd_init_password, fd_rtx_no, 
    fd_wechat_no, fd_card_no, fd_attendance_card_number, fd_work_phone, fd_default_lang, 
    fd_sex, fd_last_change_pwd, fd_lock_time, fd_short_no, fd_double_validation, fd_user_type, 
    fd_nick_name, fd_is_activated, fd_hiredate, fd_leave_date, fd_staffing_level_id
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_org_person
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="fd_mobile_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdMobileNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdEmail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_login_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLoginName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_password = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPassword,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_init_password = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdInitPassword,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_rtx_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdRtxNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_wechat_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdWechatNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_card_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCardNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_attendance_card_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdAttendanceCardNumber,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_work_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdWorkPhone,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_default_lang = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdDefaultLang,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_sex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdSex,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_last_change_pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLastChangePwd,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_lock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLockTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_short_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdShortNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_double_validation = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdDoubleValidation,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_user_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdUserType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_nick_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNickName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_is_activated = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsActivated,jdbcType=BIT}
        </foreach>
      </trim>
      <trim prefix="fd_hiredate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdHiredate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_leave_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLeaveDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_staffing_level_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdStaffingLevelId,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where fd_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fdId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_org_person
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="fd_mobile_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdMobileNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdMobileNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdEmail != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdEmail,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_login_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdLoginName != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLoginName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_password = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdPassword != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPassword,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_init_password = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdInitPassword != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdInitPassword,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_rtx_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdRtxNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdRtxNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_wechat_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdWechatNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdWechatNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_card_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdCardNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCardNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_attendance_card_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdAttendanceCardNumber != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdAttendanceCardNumber,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_work_phone = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdWorkPhone != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdWorkPhone,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_default_lang = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdDefaultLang != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdDefaultLang,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_sex = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdSex != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdSex,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_last_change_pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdLastChangePwd != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLastChangePwd,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_lock_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdLockTime != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLockTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_short_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdShortNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdShortNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_double_validation = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdDoubleValidation != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdDoubleValidation,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_user_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdUserType != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdUserType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_nick_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdNickName != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNickName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_is_activated = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdIsActivated != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsActivated,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_hiredate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdHiredate != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdHiredate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_leave_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdLeaveDate != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLeaveDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_staffing_level_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdStaffingLevelId != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdStaffingLevelId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where fd_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fdId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_org_person
    (fd_id, fd_mobile_no, fd_email, fd_login_name, fd_password, fd_init_password, fd_rtx_no, 
      fd_wechat_no, fd_card_no, fd_attendance_card_number, fd_work_phone, fd_default_lang, 
      fd_sex, fd_last_change_pwd, fd_lock_time, fd_short_no, fd_double_validation, fd_user_type, 
      fd_nick_name, fd_is_activated, fd_hiredate, fd_leave_date, fd_staffing_level_id
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.fdId,jdbcType=VARCHAR}, #{item.fdMobileNo,jdbcType=VARCHAR}, #{item.fdEmail,jdbcType=VARCHAR}, 
        #{item.fdLoginName,jdbcType=VARCHAR}, #{item.fdPassword,jdbcType=VARCHAR}, #{item.fdInitPassword,jdbcType=VARCHAR}, 
        #{item.fdRtxNo,jdbcType=VARCHAR}, #{item.fdWechatNo,jdbcType=VARCHAR}, #{item.fdCardNo,jdbcType=VARCHAR}, 
        #{item.fdAttendanceCardNumber,jdbcType=VARCHAR}, #{item.fdWorkPhone,jdbcType=VARCHAR}, 
        #{item.fdDefaultLang,jdbcType=VARCHAR}, #{item.fdSex,jdbcType=VARCHAR}, #{item.fdLastChangePwd,jdbcType=TIMESTAMP}, 
        #{item.fdLockTime,jdbcType=TIMESTAMP}, #{item.fdShortNo,jdbcType=VARCHAR}, #{item.fdDoubleValidation,jdbcType=VARCHAR}, 
        #{item.fdUserType,jdbcType=VARCHAR}, #{item.fdNickName,jdbcType=VARCHAR}, #{item.fdIsActivated,jdbcType=BIT}, 
        #{item.fdHiredate,jdbcType=TIMESTAMP}, #{item.fdLeaveDate,jdbcType=TIMESTAMP}, 
        #{item.fdStaffingLevelId,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.biuaxia.data.migration.generate.msq.domain.SysOrgPerson">
    <!--@mbg.generated-->
    insert into sys_org_person
    (fd_id, fd_mobile_no, fd_email, fd_login_name, fd_password, fd_init_password, fd_rtx_no, 
      fd_wechat_no, fd_card_no, fd_attendance_card_number, fd_work_phone, fd_default_lang, 
      fd_sex, fd_last_change_pwd, fd_lock_time, fd_short_no, fd_double_validation, fd_user_type, 
      fd_nick_name, fd_is_activated, fd_hiredate, fd_leave_date, fd_staffing_level_id
      )
    values
    (#{fdId,jdbcType=VARCHAR}, #{fdMobileNo,jdbcType=VARCHAR}, #{fdEmail,jdbcType=VARCHAR}, 
      #{fdLoginName,jdbcType=VARCHAR}, #{fdPassword,jdbcType=VARCHAR}, #{fdInitPassword,jdbcType=VARCHAR}, 
      #{fdRtxNo,jdbcType=VARCHAR}, #{fdWechatNo,jdbcType=VARCHAR}, #{fdCardNo,jdbcType=VARCHAR}, 
      #{fdAttendanceCardNumber,jdbcType=VARCHAR}, #{fdWorkPhone,jdbcType=VARCHAR}, #{fdDefaultLang,jdbcType=VARCHAR}, 
      #{fdSex,jdbcType=VARCHAR}, #{fdLastChangePwd,jdbcType=TIMESTAMP}, #{fdLockTime,jdbcType=TIMESTAMP}, 
      #{fdShortNo,jdbcType=VARCHAR}, #{fdDoubleValidation,jdbcType=VARCHAR}, #{fdUserType,jdbcType=VARCHAR}, 
      #{fdNickName,jdbcType=VARCHAR}, #{fdIsActivated,jdbcType=BIT}, #{fdHiredate,jdbcType=TIMESTAMP}, 
      #{fdLeaveDate,jdbcType=TIMESTAMP}, #{fdStaffingLevelId,jdbcType=VARCHAR})
    on duplicate key update 
    fd_id = #{fdId,jdbcType=VARCHAR}, 
    fd_mobile_no = #{fdMobileNo,jdbcType=VARCHAR}, 
    fd_email = #{fdEmail,jdbcType=VARCHAR}, 
    fd_login_name = #{fdLoginName,jdbcType=VARCHAR}, 
    fd_password = #{fdPassword,jdbcType=VARCHAR}, 
    fd_init_password = #{fdInitPassword,jdbcType=VARCHAR}, 
    fd_rtx_no = #{fdRtxNo,jdbcType=VARCHAR}, 
    fd_wechat_no = #{fdWechatNo,jdbcType=VARCHAR}, 
    fd_card_no = #{fdCardNo,jdbcType=VARCHAR}, 
    fd_attendance_card_number = #{fdAttendanceCardNumber,jdbcType=VARCHAR}, 
    fd_work_phone = #{fdWorkPhone,jdbcType=VARCHAR}, 
    fd_default_lang = #{fdDefaultLang,jdbcType=VARCHAR}, 
    fd_sex = #{fdSex,jdbcType=VARCHAR}, 
    fd_last_change_pwd = #{fdLastChangePwd,jdbcType=TIMESTAMP}, 
    fd_lock_time = #{fdLockTime,jdbcType=TIMESTAMP}, 
    fd_short_no = #{fdShortNo,jdbcType=VARCHAR}, 
    fd_double_validation = #{fdDoubleValidation,jdbcType=VARCHAR}, 
    fd_user_type = #{fdUserType,jdbcType=VARCHAR}, 
    fd_nick_name = #{fdNickName,jdbcType=VARCHAR}, 
    fd_is_activated = #{fdIsActivated,jdbcType=BIT}, 
    fd_hiredate = #{fdHiredate,jdbcType=TIMESTAMP}, 
    fd_leave_date = #{fdLeaveDate,jdbcType=TIMESTAMP}, 
    fd_staffing_level_id = #{fdStaffingLevelId,jdbcType=VARCHAR}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.biuaxia.data.migration.generate.msq.domain.SysOrgPerson">
    <!--@mbg.generated-->
    insert into sys_org_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="fdMobileNo != null">
        fd_mobile_no,
      </if>
      <if test="fdEmail != null">
        fd_email,
      </if>
      <if test="fdLoginName != null">
        fd_login_name,
      </if>
      <if test="fdPassword != null">
        fd_password,
      </if>
      <if test="fdInitPassword != null">
        fd_init_password,
      </if>
      <if test="fdRtxNo != null">
        fd_rtx_no,
      </if>
      <if test="fdWechatNo != null">
        fd_wechat_no,
      </if>
      <if test="fdCardNo != null">
        fd_card_no,
      </if>
      <if test="fdAttendanceCardNumber != null">
        fd_attendance_card_number,
      </if>
      <if test="fdWorkPhone != null">
        fd_work_phone,
      </if>
      <if test="fdDefaultLang != null">
        fd_default_lang,
      </if>
      <if test="fdSex != null">
        fd_sex,
      </if>
      <if test="fdLastChangePwd != null">
        fd_last_change_pwd,
      </if>
      <if test="fdLockTime != null">
        fd_lock_time,
      </if>
      <if test="fdShortNo != null">
        fd_short_no,
      </if>
      <if test="fdDoubleValidation != null">
        fd_double_validation,
      </if>
      <if test="fdUserType != null">
        fd_user_type,
      </if>
      <if test="fdNickName != null">
        fd_nick_name,
      </if>
      <if test="fdIsActivated != null">
        fd_is_activated,
      </if>
      <if test="fdHiredate != null">
        fd_hiredate,
      </if>
      <if test="fdLeaveDate != null">
        fd_leave_date,
      </if>
      <if test="fdStaffingLevelId != null">
        fd_staffing_level_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdMobileNo != null">
        #{fdMobileNo,jdbcType=VARCHAR},
      </if>
      <if test="fdEmail != null">
        #{fdEmail,jdbcType=VARCHAR},
      </if>
      <if test="fdLoginName != null">
        #{fdLoginName,jdbcType=VARCHAR},
      </if>
      <if test="fdPassword != null">
        #{fdPassword,jdbcType=VARCHAR},
      </if>
      <if test="fdInitPassword != null">
        #{fdInitPassword,jdbcType=VARCHAR},
      </if>
      <if test="fdRtxNo != null">
        #{fdRtxNo,jdbcType=VARCHAR},
      </if>
      <if test="fdWechatNo != null">
        #{fdWechatNo,jdbcType=VARCHAR},
      </if>
      <if test="fdCardNo != null">
        #{fdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fdAttendanceCardNumber != null">
        #{fdAttendanceCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="fdWorkPhone != null">
        #{fdWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="fdDefaultLang != null">
        #{fdDefaultLang,jdbcType=VARCHAR},
      </if>
      <if test="fdSex != null">
        #{fdSex,jdbcType=VARCHAR},
      </if>
      <if test="fdLastChangePwd != null">
        #{fdLastChangePwd,jdbcType=TIMESTAMP},
      </if>
      <if test="fdLockTime != null">
        #{fdLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdShortNo != null">
        #{fdShortNo,jdbcType=VARCHAR},
      </if>
      <if test="fdDoubleValidation != null">
        #{fdDoubleValidation,jdbcType=VARCHAR},
      </if>
      <if test="fdUserType != null">
        #{fdUserType,jdbcType=VARCHAR},
      </if>
      <if test="fdNickName != null">
        #{fdNickName,jdbcType=VARCHAR},
      </if>
      <if test="fdIsActivated != null">
        #{fdIsActivated,jdbcType=BIT},
      </if>
      <if test="fdHiredate != null">
        #{fdHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="fdLeaveDate != null">
        #{fdLeaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fdStaffingLevelId != null">
        #{fdStaffingLevelId,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="fdId != null">
        fd_id = #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdMobileNo != null">
        fd_mobile_no = #{fdMobileNo,jdbcType=VARCHAR},
      </if>
      <if test="fdEmail != null">
        fd_email = #{fdEmail,jdbcType=VARCHAR},
      </if>
      <if test="fdLoginName != null">
        fd_login_name = #{fdLoginName,jdbcType=VARCHAR},
      </if>
      <if test="fdPassword != null">
        fd_password = #{fdPassword,jdbcType=VARCHAR},
      </if>
      <if test="fdInitPassword != null">
        fd_init_password = #{fdInitPassword,jdbcType=VARCHAR},
      </if>
      <if test="fdRtxNo != null">
        fd_rtx_no = #{fdRtxNo,jdbcType=VARCHAR},
      </if>
      <if test="fdWechatNo != null">
        fd_wechat_no = #{fdWechatNo,jdbcType=VARCHAR},
      </if>
      <if test="fdCardNo != null">
        fd_card_no = #{fdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="fdAttendanceCardNumber != null">
        fd_attendance_card_number = #{fdAttendanceCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="fdWorkPhone != null">
        fd_work_phone = #{fdWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="fdDefaultLang != null">
        fd_default_lang = #{fdDefaultLang,jdbcType=VARCHAR},
      </if>
      <if test="fdSex != null">
        fd_sex = #{fdSex,jdbcType=VARCHAR},
      </if>
      <if test="fdLastChangePwd != null">
        fd_last_change_pwd = #{fdLastChangePwd,jdbcType=TIMESTAMP},
      </if>
      <if test="fdLockTime != null">
        fd_lock_time = #{fdLockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdShortNo != null">
        fd_short_no = #{fdShortNo,jdbcType=VARCHAR},
      </if>
      <if test="fdDoubleValidation != null">
        fd_double_validation = #{fdDoubleValidation,jdbcType=VARCHAR},
      </if>
      <if test="fdUserType != null">
        fd_user_type = #{fdUserType,jdbcType=VARCHAR},
      </if>
      <if test="fdNickName != null">
        fd_nick_name = #{fdNickName,jdbcType=VARCHAR},
      </if>
      <if test="fdIsActivated != null">
        fd_is_activated = #{fdIsActivated,jdbcType=BIT},
      </if>
      <if test="fdHiredate != null">
        fd_hiredate = #{fdHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="fdLeaveDate != null">
        fd_leave_date = #{fdLeaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fdStaffingLevelId != null">
        fd_staffing_level_id = #{fdStaffingLevelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>