<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biuaxia.data.migration.generate.msq.mapper.SysOrgElementMapper">
  <resultMap id="BaseResultMap" type="cn.biuaxia.data.migration.generate.msq.domain.SysOrgElement">
    <!--@mbg.generated-->
    <!--@Table sys_org_element-->
    <id column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="fd_org_type" jdbcType="INTEGER" property="fdOrgType" />
    <result column="fd_name" jdbcType="VARCHAR" property="fdName" />
    <result column="fd_name_pinyin" jdbcType="VARCHAR" property="fdNamePinyin" />
    <result column="fd_name_simple_pinyin" jdbcType="VARCHAR" property="fdNameSimplePinyin" />
    <result column="fd_order" jdbcType="INTEGER" property="fdOrder" />
    <result column="fd_no" jdbcType="VARCHAR" property="fdNo" />
    <result column="fd_keyword" jdbcType="VARCHAR" property="fdKeyword" />
    <result column="fd_is_available" jdbcType="BIT" property="fdIsAvailable" />
    <result column="fd_is_abandon" jdbcType="BIT" property="fdIsAbandon" />
    <result column="fd_is_business" jdbcType="BIT" property="fdIsBusiness" />
    <result column="fd_import_info" jdbcType="VARCHAR" property="fdImportInfo" />
    <result column="fd_flag_deleted" jdbcType="BIT" property="fdFlagDeleted" />
    <result column="fd_ldap_dn" jdbcType="VARCHAR" property="fdLdapDn" />
    <result column="fd_memo" jdbcType="VARCHAR" property="fdMemo" />
    <result column="fd_hierarchy_id" jdbcType="VARCHAR" property="fdHierarchyId" />
    <result column="fd_create_time" jdbcType="TIMESTAMP" property="fdCreateTime" />
    <result column="fd_alter_time" jdbcType="TIMESTAMP" property="fdAlterTime" />
    <result column="fd_org_email" jdbcType="VARCHAR" property="fdOrgEmail" />
    <result column="fd_persons_number" jdbcType="INTEGER" property="fdPersonsNumber" />
    <result column="fd_pre_dept_id" jdbcType="VARCHAR" property="fdPreDeptId" />
    <result column="fd_pre_post_ids" jdbcType="VARCHAR" property="fdPrePostIds" />
    <result column="fd_this_leaderid" jdbcType="VARCHAR" property="fdThisLeaderid" />
    <result column="fd_super_leaderid" jdbcType="VARCHAR" property="fdSuperLeaderid" />
    <result column="fd_parentorgid" jdbcType="VARCHAR" property="fdParentorgid" />
    <result column="fd_parentid" jdbcType="VARCHAR" property="fdParentid" />
    <result column="fd_cateid" jdbcType="VARCHAR" property="fdCateid" />
    <result column="auth_reader_flag" jdbcType="BIT" property="authReaderFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    fd_id, fd_org_type, fd_name, fd_name_pinyin, fd_name_simple_pinyin, fd_order, fd_no, 
    fd_keyword, fd_is_available, fd_is_abandon, fd_is_business, fd_import_info, fd_flag_deleted, 
    fd_ldap_dn, fd_memo, fd_hierarchy_id, fd_create_time, fd_alter_time, fd_org_email, 
    fd_persons_number, fd_pre_dept_id, fd_pre_post_ids, fd_this_leaderid, fd_super_leaderid, 
    fd_parentorgid, fd_parentid, fd_cateid, auth_reader_flag
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_org_element
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="fd_org_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrgType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="fd_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_name_pinyin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNamePinyin,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_name_simple_pinyin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNameSimplePinyin,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_order = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrder,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="fd_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_keyword = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdKeyword,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_is_available = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsAvailable,jdbcType=BIT}
        </foreach>
      </trim>
      <trim prefix="fd_is_abandon = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsAbandon,jdbcType=BIT}
        </foreach>
      </trim>
      <trim prefix="fd_is_business = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsBusiness,jdbcType=BIT}
        </foreach>
      </trim>
      <trim prefix="fd_import_info = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdImportInfo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_flag_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdFlagDeleted,jdbcType=BIT}
        </foreach>
      </trim>
      <trim prefix="fd_ldap_dn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLdapDn,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_memo = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdMemo,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_hierarchy_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdHierarchyId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCreateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_alter_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdAlterTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="fd_org_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrgEmail,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_persons_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPersonsNumber,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="fd_pre_dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPreDeptId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_pre_post_ids = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPrePostIds,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_this_leaderid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdThisLeaderid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_super_leaderid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdSuperLeaderid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_parentorgid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdParentorgid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_parentid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdParentid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="fd_cateid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCateid,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="auth_reader_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.authReaderFlag,jdbcType=BIT}
        </foreach>
      </trim>
    </trim>
    where fd_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fdId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_org_element
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="fd_org_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdOrgType != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrgType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdName != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_name_pinyin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdNamePinyin != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNamePinyin,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_name_simple_pinyin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdNameSimplePinyin != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNameSimplePinyin,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_order = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdOrder != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrder,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdNo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdNo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_keyword = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdKeyword != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdKeyword,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_is_available = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdIsAvailable != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsAvailable,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_is_abandon = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdIsAbandon != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsAbandon,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_is_business = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdIsBusiness != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdIsBusiness,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_import_info = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdImportInfo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdImportInfo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_flag_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdFlagDeleted != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdFlagDeleted,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_ldap_dn = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdLdapDn != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdLdapDn,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_memo = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdMemo != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdMemo,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_hierarchy_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdHierarchyId != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdHierarchyId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdCreateTime != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCreateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_alter_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdAlterTime != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdAlterTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_org_email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdOrgEmail != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdOrgEmail,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_persons_number = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdPersonsNumber != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPersonsNumber,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_pre_dept_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdPreDeptId != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPreDeptId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_pre_post_ids = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdPrePostIds != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdPrePostIds,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_this_leaderid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdThisLeaderid != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdThisLeaderid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_super_leaderid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdSuperLeaderid != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdSuperLeaderid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_parentorgid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdParentorgid != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdParentorgid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_parentid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdParentid != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdParentid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="fd_cateid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fdCateid != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.fdCateid,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="auth_reader_flag = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.authReaderFlag != null">
            when fd_id = #{item.fdId,jdbcType=VARCHAR} then #{item.authReaderFlag,jdbcType=BIT}
          </if>
        </foreach>
      </trim>
    </trim>
    where fd_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.fdId,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_org_element
    (fd_id, fd_org_type, fd_name, fd_name_pinyin, fd_name_simple_pinyin, fd_order, fd_no, 
      fd_keyword, fd_is_available, fd_is_abandon, fd_is_business, fd_import_info, fd_flag_deleted, 
      fd_ldap_dn, fd_memo, fd_hierarchy_id, fd_create_time, fd_alter_time, fd_org_email, 
      fd_persons_number, fd_pre_dept_id, fd_pre_post_ids, fd_this_leaderid, fd_super_leaderid, 
      fd_parentorgid, fd_parentid, fd_cateid, auth_reader_flag)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.fdId,jdbcType=VARCHAR}, #{item.fdOrgType,jdbcType=INTEGER}, #{item.fdName,jdbcType=VARCHAR}, 
        #{item.fdNamePinyin,jdbcType=VARCHAR}, #{item.fdNameSimplePinyin,jdbcType=VARCHAR}, 
        #{item.fdOrder,jdbcType=INTEGER}, #{item.fdNo,jdbcType=VARCHAR}, #{item.fdKeyword,jdbcType=VARCHAR}, 
        #{item.fdIsAvailable,jdbcType=BIT}, #{item.fdIsAbandon,jdbcType=BIT}, #{item.fdIsBusiness,jdbcType=BIT}, 
        #{item.fdImportInfo,jdbcType=VARCHAR}, #{item.fdFlagDeleted,jdbcType=BIT}, #{item.fdLdapDn,jdbcType=VARCHAR}, 
        #{item.fdMemo,jdbcType=VARCHAR}, #{item.fdHierarchyId,jdbcType=VARCHAR}, #{item.fdCreateTime,jdbcType=TIMESTAMP}, 
        #{item.fdAlterTime,jdbcType=TIMESTAMP}, #{item.fdOrgEmail,jdbcType=VARCHAR}, #{item.fdPersonsNumber,jdbcType=INTEGER}, 
        #{item.fdPreDeptId,jdbcType=VARCHAR}, #{item.fdPrePostIds,jdbcType=VARCHAR}, #{item.fdThisLeaderid,jdbcType=VARCHAR}, 
        #{item.fdSuperLeaderid,jdbcType=VARCHAR}, #{item.fdParentorgid,jdbcType=VARCHAR}, 
        #{item.fdParentid,jdbcType=VARCHAR}, #{item.fdCateid,jdbcType=VARCHAR}, #{item.authReaderFlag,jdbcType=BIT}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.biuaxia.data.migration.generate.msq.domain.SysOrgElement">
    <!--@mbg.generated-->
    insert into sys_org_element
    (fd_id, fd_org_type, fd_name, fd_name_pinyin, fd_name_simple_pinyin, fd_order, fd_no, 
      fd_keyword, fd_is_available, fd_is_abandon, fd_is_business, fd_import_info, fd_flag_deleted, 
      fd_ldap_dn, fd_memo, fd_hierarchy_id, fd_create_time, fd_alter_time, fd_org_email, 
      fd_persons_number, fd_pre_dept_id, fd_pre_post_ids, fd_this_leaderid, fd_super_leaderid, 
      fd_parentorgid, fd_parentid, fd_cateid, auth_reader_flag)
    values
    (#{fdId,jdbcType=VARCHAR}, #{fdOrgType,jdbcType=INTEGER}, #{fdName,jdbcType=VARCHAR}, 
      #{fdNamePinyin,jdbcType=VARCHAR}, #{fdNameSimplePinyin,jdbcType=VARCHAR}, #{fdOrder,jdbcType=INTEGER}, 
      #{fdNo,jdbcType=VARCHAR}, #{fdKeyword,jdbcType=VARCHAR}, #{fdIsAvailable,jdbcType=BIT}, 
      #{fdIsAbandon,jdbcType=BIT}, #{fdIsBusiness,jdbcType=BIT}, #{fdImportInfo,jdbcType=VARCHAR}, 
      #{fdFlagDeleted,jdbcType=BIT}, #{fdLdapDn,jdbcType=VARCHAR}, #{fdMemo,jdbcType=VARCHAR}, 
      #{fdHierarchyId,jdbcType=VARCHAR}, #{fdCreateTime,jdbcType=TIMESTAMP}, #{fdAlterTime,jdbcType=TIMESTAMP}, 
      #{fdOrgEmail,jdbcType=VARCHAR}, #{fdPersonsNumber,jdbcType=INTEGER}, #{fdPreDeptId,jdbcType=VARCHAR}, 
      #{fdPrePostIds,jdbcType=VARCHAR}, #{fdThisLeaderid,jdbcType=VARCHAR}, #{fdSuperLeaderid,jdbcType=VARCHAR}, 
      #{fdParentorgid,jdbcType=VARCHAR}, #{fdParentid,jdbcType=VARCHAR}, #{fdCateid,jdbcType=VARCHAR}, 
      #{authReaderFlag,jdbcType=BIT})
    on duplicate key update 
    fd_id = #{fdId,jdbcType=VARCHAR}, 
    fd_org_type = #{fdOrgType,jdbcType=INTEGER}, 
    fd_name = #{fdName,jdbcType=VARCHAR}, 
    fd_name_pinyin = #{fdNamePinyin,jdbcType=VARCHAR}, 
    fd_name_simple_pinyin = #{fdNameSimplePinyin,jdbcType=VARCHAR}, 
    fd_order = #{fdOrder,jdbcType=INTEGER}, 
    fd_no = #{fdNo,jdbcType=VARCHAR}, 
    fd_keyword = #{fdKeyword,jdbcType=VARCHAR}, 
    fd_is_available = #{fdIsAvailable,jdbcType=BIT}, 
    fd_is_abandon = #{fdIsAbandon,jdbcType=BIT}, 
    fd_is_business = #{fdIsBusiness,jdbcType=BIT}, 
    fd_import_info = #{fdImportInfo,jdbcType=VARCHAR}, 
    fd_flag_deleted = #{fdFlagDeleted,jdbcType=BIT}, 
    fd_ldap_dn = #{fdLdapDn,jdbcType=VARCHAR}, 
    fd_memo = #{fdMemo,jdbcType=VARCHAR}, 
    fd_hierarchy_id = #{fdHierarchyId,jdbcType=VARCHAR}, 
    fd_create_time = #{fdCreateTime,jdbcType=TIMESTAMP}, 
    fd_alter_time = #{fdAlterTime,jdbcType=TIMESTAMP}, 
    fd_org_email = #{fdOrgEmail,jdbcType=VARCHAR}, 
    fd_persons_number = #{fdPersonsNumber,jdbcType=INTEGER}, 
    fd_pre_dept_id = #{fdPreDeptId,jdbcType=VARCHAR}, 
    fd_pre_post_ids = #{fdPrePostIds,jdbcType=VARCHAR}, 
    fd_this_leaderid = #{fdThisLeaderid,jdbcType=VARCHAR}, 
    fd_super_leaderid = #{fdSuperLeaderid,jdbcType=VARCHAR}, 
    fd_parentorgid = #{fdParentorgid,jdbcType=VARCHAR}, 
    fd_parentid = #{fdParentid,jdbcType=VARCHAR}, 
    fd_cateid = #{fdCateid,jdbcType=VARCHAR}, 
    auth_reader_flag = #{authReaderFlag,jdbcType=BIT}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.biuaxia.data.migration.generate.msq.domain.SysOrgElement">
    <!--@mbg.generated-->
    insert into sys_org_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="fdOrgType != null">
        fd_org_type,
      </if>
      <if test="fdName != null">
        fd_name,
      </if>
      <if test="fdNamePinyin != null">
        fd_name_pinyin,
      </if>
      <if test="fdNameSimplePinyin != null">
        fd_name_simple_pinyin,
      </if>
      <if test="fdOrder != null">
        fd_order,
      </if>
      <if test="fdNo != null">
        fd_no,
      </if>
      <if test="fdKeyword != null">
        fd_keyword,
      </if>
      <if test="fdIsAvailable != null">
        fd_is_available,
      </if>
      <if test="fdIsAbandon != null">
        fd_is_abandon,
      </if>
      <if test="fdIsBusiness != null">
        fd_is_business,
      </if>
      <if test="fdImportInfo != null">
        fd_import_info,
      </if>
      <if test="fdFlagDeleted != null">
        fd_flag_deleted,
      </if>
      <if test="fdLdapDn != null">
        fd_ldap_dn,
      </if>
      <if test="fdMemo != null">
        fd_memo,
      </if>
      <if test="fdHierarchyId != null">
        fd_hierarchy_id,
      </if>
      <if test="fdCreateTime != null">
        fd_create_time,
      </if>
      <if test="fdAlterTime != null">
        fd_alter_time,
      </if>
      <if test="fdOrgEmail != null">
        fd_org_email,
      </if>
      <if test="fdPersonsNumber != null">
        fd_persons_number,
      </if>
      <if test="fdPreDeptId != null">
        fd_pre_dept_id,
      </if>
      <if test="fdPrePostIds != null">
        fd_pre_post_ids,
      </if>
      <if test="fdThisLeaderid != null">
        fd_this_leaderid,
      </if>
      <if test="fdSuperLeaderid != null">
        fd_super_leaderid,
      </if>
      <if test="fdParentorgid != null">
        fd_parentorgid,
      </if>
      <if test="fdParentid != null">
        fd_parentid,
      </if>
      <if test="fdCateid != null">
        fd_cateid,
      </if>
      <if test="authReaderFlag != null">
        auth_reader_flag,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fdId != null">
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdOrgType != null">
        #{fdOrgType,jdbcType=INTEGER},
      </if>
      <if test="fdName != null">
        #{fdName,jdbcType=VARCHAR},
      </if>
      <if test="fdNamePinyin != null">
        #{fdNamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="fdNameSimplePinyin != null">
        #{fdNameSimplePinyin,jdbcType=VARCHAR},
      </if>
      <if test="fdOrder != null">
        #{fdOrder,jdbcType=INTEGER},
      </if>
      <if test="fdNo != null">
        #{fdNo,jdbcType=VARCHAR},
      </if>
      <if test="fdKeyword != null">
        #{fdKeyword,jdbcType=VARCHAR},
      </if>
      <if test="fdIsAvailable != null">
        #{fdIsAvailable,jdbcType=BIT},
      </if>
      <if test="fdIsAbandon != null">
        #{fdIsAbandon,jdbcType=BIT},
      </if>
      <if test="fdIsBusiness != null">
        #{fdIsBusiness,jdbcType=BIT},
      </if>
      <if test="fdImportInfo != null">
        #{fdImportInfo,jdbcType=VARCHAR},
      </if>
      <if test="fdFlagDeleted != null">
        #{fdFlagDeleted,jdbcType=BIT},
      </if>
      <if test="fdLdapDn != null">
        #{fdLdapDn,jdbcType=VARCHAR},
      </if>
      <if test="fdMemo != null">
        #{fdMemo,jdbcType=VARCHAR},
      </if>
      <if test="fdHierarchyId != null">
        #{fdHierarchyId,jdbcType=VARCHAR},
      </if>
      <if test="fdCreateTime != null">
        #{fdCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdAlterTime != null">
        #{fdAlterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdOrgEmail != null">
        #{fdOrgEmail,jdbcType=VARCHAR},
      </if>
      <if test="fdPersonsNumber != null">
        #{fdPersonsNumber,jdbcType=INTEGER},
      </if>
      <if test="fdPreDeptId != null">
        #{fdPreDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fdPrePostIds != null">
        #{fdPrePostIds,jdbcType=VARCHAR},
      </if>
      <if test="fdThisLeaderid != null">
        #{fdThisLeaderid,jdbcType=VARCHAR},
      </if>
      <if test="fdSuperLeaderid != null">
        #{fdSuperLeaderid,jdbcType=VARCHAR},
      </if>
      <if test="fdParentorgid != null">
        #{fdParentorgid,jdbcType=VARCHAR},
      </if>
      <if test="fdParentid != null">
        #{fdParentid,jdbcType=VARCHAR},
      </if>
      <if test="fdCateid != null">
        #{fdCateid,jdbcType=VARCHAR},
      </if>
      <if test="authReaderFlag != null">
        #{authReaderFlag,jdbcType=BIT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="fdId != null">
        fd_id = #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdOrgType != null">
        fd_org_type = #{fdOrgType,jdbcType=INTEGER},
      </if>
      <if test="fdName != null">
        fd_name = #{fdName,jdbcType=VARCHAR},
      </if>
      <if test="fdNamePinyin != null">
        fd_name_pinyin = #{fdNamePinyin,jdbcType=VARCHAR},
      </if>
      <if test="fdNameSimplePinyin != null">
        fd_name_simple_pinyin = #{fdNameSimplePinyin,jdbcType=VARCHAR},
      </if>
      <if test="fdOrder != null">
        fd_order = #{fdOrder,jdbcType=INTEGER},
      </if>
      <if test="fdNo != null">
        fd_no = #{fdNo,jdbcType=VARCHAR},
      </if>
      <if test="fdKeyword != null">
        fd_keyword = #{fdKeyword,jdbcType=VARCHAR},
      </if>
      <if test="fdIsAvailable != null">
        fd_is_available = #{fdIsAvailable,jdbcType=BIT},
      </if>
      <if test="fdIsAbandon != null">
        fd_is_abandon = #{fdIsAbandon,jdbcType=BIT},
      </if>
      <if test="fdIsBusiness != null">
        fd_is_business = #{fdIsBusiness,jdbcType=BIT},
      </if>
      <if test="fdImportInfo != null">
        fd_import_info = #{fdImportInfo,jdbcType=VARCHAR},
      </if>
      <if test="fdFlagDeleted != null">
        fd_flag_deleted = #{fdFlagDeleted,jdbcType=BIT},
      </if>
      <if test="fdLdapDn != null">
        fd_ldap_dn = #{fdLdapDn,jdbcType=VARCHAR},
      </if>
      <if test="fdMemo != null">
        fd_memo = #{fdMemo,jdbcType=VARCHAR},
      </if>
      <if test="fdHierarchyId != null">
        fd_hierarchy_id = #{fdHierarchyId,jdbcType=VARCHAR},
      </if>
      <if test="fdCreateTime != null">
        fd_create_time = #{fdCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdAlterTime != null">
        fd_alter_time = #{fdAlterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdOrgEmail != null">
        fd_org_email = #{fdOrgEmail,jdbcType=VARCHAR},
      </if>
      <if test="fdPersonsNumber != null">
        fd_persons_number = #{fdPersonsNumber,jdbcType=INTEGER},
      </if>
      <if test="fdPreDeptId != null">
        fd_pre_dept_id = #{fdPreDeptId,jdbcType=VARCHAR},
      </if>
      <if test="fdPrePostIds != null">
        fd_pre_post_ids = #{fdPrePostIds,jdbcType=VARCHAR},
      </if>
      <if test="fdThisLeaderid != null">
        fd_this_leaderid = #{fdThisLeaderid,jdbcType=VARCHAR},
      </if>
      <if test="fdSuperLeaderid != null">
        fd_super_leaderid = #{fdSuperLeaderid,jdbcType=VARCHAR},
      </if>
      <if test="fdParentorgid != null">
        fd_parentorgid = #{fdParentorgid,jdbcType=VARCHAR},
      </if>
      <if test="fdParentid != null">
        fd_parentid = #{fdParentid,jdbcType=VARCHAR},
      </if>
      <if test="fdCateid != null">
        fd_cateid = #{fdCateid,jdbcType=VARCHAR},
      </if>
      <if test="authReaderFlag != null">
        auth_reader_flag = #{authReaderFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>